%button-border{
    content: '';
    display: block;
    width: 188px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../assets/img/common/button-border.svg")no-repeat center;
}

%button-bg{
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 0;
    background: $azure;
    left: 0;
    top: 0;
    height: 100%;
    max-width: 188px;
    transition: all .3s ease-in-out;
}

.button{
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s;
    overflow: visible;

    &.loading{
        cursor: no-drop;
        color: white;

        &:before{
            background: url("../assets/img/common/button-border_gray.svg")no-repeat center;
        }

        &:after{
            width: 100%;
            background: $grey;
        }

        & span:before{
            content: '\e983';
            left: 195px;
            animation: loading .7s infinite linear;
        }

        &:hover span{

            &:before{
                left: 195px;
                animation: loading .7s infinite linear;
            }
        }
    }

    &_order{
        height: 40px;
        line-height: 40px;
        position: relative;
        font-size: 18px;
        letter-spacing: 0.8px;
        font-weight: bold;
        color: white;
        justify-content: center;
        min-width: 188px;
        z-index: 1;

        @include res(desktop){
            font-size: 22px;
            justify-content: flex-start;
            letter-spacing: 1px;
            padding-left: 21px;
        }

        &:before{
            @extend %button-border;
        }

        &:after{
            @extend %button-bg;
        }

        &_black:before{
            background: url("../assets/img/common/button-border_black.svg")no-repeat center;
        }
        &_black:after{
            background: $black;
        }

        &:hover{

            &:after{
                width: 100%;
            }
        }

        &:hover &__inner{

            &:before{
                left: 195px;
                animation: loading .7s infinite linear;
            }
        }

        &__inner{

            &:before{
                position: absolute;
                left: 180px;
                top: 32px;
                width: 14px;
                height: 14px;
                font-size: 14px;
                color: $azure;
                transition: all .3s;
            }

            &_black{

                &:before{
                    color: $black;
                }
            }
        }
    }

    &_request{
        height: 40px;
        line-height: 40px;
        position: relative;
        font-size: 18px;
        letter-spacing: 0.8px;
        font-weight: bold;
        color: $azure;
        justify-content: center;
        min-width: 188px;
        z-index: 1;

        @include res(desktop){
            font-size: 22px;
            justify-content: flex-start;
            letter-spacing: 1px;
            padding-left: 21px;
        }

        &:before{
            @extend %button-border;
        }

        &:after{
            @extend %button-bg;
        }

        &:hover{

            @include res(desktop){
                color: white;
                &:after{
                    width: 100%;
                }
            }
        }

        &:hover &__inner{

            &:before{
                left: 195px;
                animation: opacity-toggle .7s infinite linear;
            }
        }

        &__inner{

            &:before{
                display: block;
                position: absolute;
                left: 180px;
                top: 30px;
                width: 14px;
                height: 14px;
                color: $black;
                font-size: 14px;
                transition: all .3s;
            }
        }
    }

    &__wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        @include res(tablet){
            flex-direction: row;
            justify-content: center;
        }

        @include res(desktop){
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__header{
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.4px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: right;
        color: $black;
        display: block;
        padding: 9px 0;
        position: relative;
        left: -10px;
        transition: left .3s;

        &_wrapper{
            border: solid 2px $azure-border;
            margin-top: 5px;
            transition: all .3s;

            &:hover{
                background: rgba(81, 196, 254, 0.1);
            }
        }

        &:after{
            content: '';
            display: block;
            width: 110%;
            height: 4px;
            background: $azure;
            position: absolute;
            left: -100%;
            right: -106%;
            bottom: 6px;
            margin: auto;
        }

    }
}