.headline{
    font-size: 40px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    color: black;

    &--section{
        margin-bottom: 40px;
        padding: 0;
    }

    &--shops{
        @extend %container-content;
        max-width: 594px;
        margin: 0 auto 30px;
        font-size: 30px;
        padding: 0;

        @include res(desktop){
            font-size: 40px;
        }
    }

    &--article{
        margin-bottom: 28px;
        padding: 0 40px;
        word-wrap: break-word;

        @include res(desktop){
            max-width: 780px;
            margin: 0 auto 28px;
            padding: 0;
        }

        @include res(xxlarge){
            font-size: 45px;
            line-height: 0.89;
            max-width: 1010px;
            margin-bottom: 40px;
        }

    }

    &--catalog{
        margin-bottom: 33px;

        @include res(desktop){
            margin-bottom: 40px;
        }
    }

    &__big{

        @include res(desktop){
            font-size: 60px;
        }
    }

    &__small{
        font-size: 24px;
        line-height: 1.08;
    }

    &__before{
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.43;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 23px;

        &_color{

            &-dark{

            }
        }
    }

    &__color{

        &-light{

        }

        &-medium{

        }

        &-dark {

        }

        &-darkest{

        }

    }

    &__center{
        text-align: center;
    }

    &__desc{
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: center;
        color: $grey;
        max-width: 100%;

        &_color{

            &-dark{

            }
        }
    }

}