.overlay{
    display: flex;
    align-items: flex-end;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(53, 53, 53, 0.8);
    transition: opacity 0.3s;

    &.active{
        visibility: visible;
        opacity: 1;
        z-index: 1;
    }
}