.wp__typo{

    p{
        font-size: 14px;
        min-height: 16px;
        line-height: 1.38;
        letter-spacing: 0.3px;
        text-align: left;
        color: #171617;
        margin-bottom: 20px;

        @include res(tablet){
            font-size: 16px;
        }

        strong{
            font-weight: bold;
        }

        a{
            color: inherit;

            &:hover{
                text-decoration: none;
            }

            strong{
                font-weight: bold;
            }

        }

        em{
            font-style: italic;
        }

        u{
            text-decoration: none;
        }

        img{
            max-width: 100%;
            height: auto;
            vertical-align: top;
        }

        iframe{
            max-width: 100%;
            margin: 0 auto;
            display: block;

            @include res(tablet){
                min-height: 435px;
            }
        }
    }

    img{
        max-width: 100%;
        height: auto;
        vertical-align: top;
    }

    h1, h2, h3, h4, h5, h6{
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        text-align: center;
        color: black;
        margin-bottom: 20px;

        @include res(tablet){
            line-height: 22px;
        }

    }

    hr{
        margin: 30px 0;
        height: 1px;
        background: $grey-dark;
        border: none;
    }

    & > ul{

        li{
            font-size: 16px;
            line-height: 1.44;
            color: $black;

            &:before{
                content: '— ';
            }
        }
    }

    & > ol{

        li{
            font-size: 16px;
            line-height: 1.44;
            color: $black;
            list-style-type: decimal;
        }
    }

    .alignleft{
        float: left;

        @include res(desktop){
            padding-right: 20px;
        }
    }

    .alignright{
        float: right;

        @include res(desktop){
            padding-left: 20px;
        }
    }

    .aligncenter{
        display: block;
        text-align: center;
        margin: 0 auto;
    }

}