%mask-base{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mask{

    &_blue{

        &:after{
            @extend %mask-base;
            background: #14a4ec;
            opacity: 0.7;
        }

    }

    &_dark{

        &:after{
            @extend %mask-base;
            background: $black;
            opacity: 0.7;
        }
    }

    &_black-and-white{
        filter: grayscale(100%);
    }
}