.fscreen-mobile{
    display: flex;
    flex-direction: column;

    @include res(desktop){
        display: none;
    }

    &__contacts{
        padding: 10px 0;
        text-align: center;
        width: 100%;

        @include res(tablet){
            display: none;
        }

        &_text{
            font-size: 14px;
            font-weight: normal;
            line-height: 1.43;
            text-align: center;
            color: $black;
        }

        &_link{
            font-size: 14px;
            font-weight: normal;
            line-height: 1.43;
            text-align: center;
            color: $black;
            text-decoration: none;
        }
    }

    &__block{
        display: flex;
        flex-wrap: wrap;
    }

    &__item{
        position: relative;
        height: 106px;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $azure;
        width: 33.3%;
        min-width: 33.3%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-of-type(3n + 2){
            width: 33.4%;
            min-width: 33.4%;
        }

        @include res(tablet){
            height: 212px;
        }

        &_bg{

            &-black{
                background: $black;
            }
        }
    }

    &__figure{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }

    &__view{
        max-height: 50px;
        max-width: 57px;
        margin-bottom: 8px;
        font-size: 50px;
        line-height: 50px;
        color: white;

        @include res(tablet){
            max-height: 60px;
            font-size: 60px;
            line-height: 60px;
            max-width: 70px;
            margin-bottom: 12px;
        }

        &_color{

            &--black{
                color: black;
            }
        }
    }

    &__caption{
        font-size: 13px;
        font-weight: bold;
        color: white;

        @include res(tablet){
            font-size: 16px;
        }

        &_color{

            &--black{
                color: black;
            }
        }
    }

    &__video{
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $azure;

        @include res(tablet){
            padding: 15px 0;
        }

        &_link{
            display: flex;
            align-items: center;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: white;
            outline: none;

            &:before{
                content: "\e912";
                @extend %icomoon-set;
                font-size: 30px;
                color: white;
                text-decoration: none;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 8px;
                opacity: 0.8;
            }

            @include res(tablet){
                font-size: 15px;

                &:before{
                    width: 45px;
                    height: 45px;
                    font-size: 45px;
                }
            }


        }

        &_text{
            text-decoration: underline;
        }


    }

    &__lead{
        position: relative;
        overflow: hidden;
        padding: 25px 0;

        @include res(tablet){
            padding: 50px 0;
        }
    }
}