.fscreen{
    display: flex;
    flex-wrap: wrap;

    @include res(desktop){
        height: 100%;
    }

    @include res(xtop){
        height: 700px;
    }

    &:before{

        @include res(desktop){
            content: '';
            display: block;
            height: 1%;
            width: 100%;
        }
    }

    &__block{
        display: flex;
        flex-wrap: wrap;
        height: 33%;
        width: 100%;

        @include res(desktop){
            width: 25%;
        }

        &_2h{

            @include res(desktop){
                height: 66%;
            }

        }

        &_2w{

            @include res(desktop){
                width: 50%;
            }

        }

        &_3w{

            @include res(desktop){
                width: 75%;
            }
        }

        &_4w{

            @include res(desktop){
                width: 100%;
            }

        }
    }

    &__item{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: none;

        @include res(desktop){
            display: flex;
        }

        &_w{

            &2{

                @include res(desktop){
                    width: 50%;
                }

            }

            &23{

                @include res(desktop){
                    width: 66.7%;
                }
            }

            &3{

                @include res(desktop){
                    width: 33.3%;
                }

            }

            &4{

                @include res(desktop){
                    width: 25%;
                }

            }

        }

        &_h{

            &2{

                @include res(desktop){
                    height: 50%;
                }

            }

        }

        &_align{

            &-start{
                align-items: flex-start;
            }

            &-end{
                align-items: flex-end;
            }
        }

        &_justify{

            &-end{
                justify-content: flex-end;
            }
        }

        &_headline{
            padding: 15px 12px;
            flex-direction: column;
            flex-wrap: nowrap;
            display: flex;

            @include res(tablet){
                padding: 30px 15px 10px;
            }

            @include res(desktop){
                padding: 30px;
                align-items: flex-start;
            }

            @include res(laptop){
                padding: 40px;
            }
        }

        &_bg{

            &-headline{
                background: $azure;

                @include res(desktop){
                    background: white;
                }
            }

            &-black{
                background: $black;
            }

            &-azure{
                background: $azure;
            }
        }

        &_lead{

            &:before{
                content: "";
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
                @extend %black-medium;
                overflow: hidden;
                background-size: 17px 17px;
            }

            @include res(desktop){
                border: solid 7px $azure;
                border-right: none;

                &:hover:before{
                    animation: move 0.2s linear infinite;
                }
            }

        }

        &_view{
            max-width: 100%;
            max-height: 100%;
            user-select: none;
        }
    }

    &__figure{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    &__view{
        position: absolute;
        top: -100%;
        bottom: -100%;
        left: -100%;
        right: -100%;
        margin: auto;
        min-width: 100%;
        min-height: 100%;
        user-select: none;
    }

    &__video{

        &_item{
            display: none;

            @include res(desktop){
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                min-width: 100%;
                min-height: 100%;
                z-index: 0;
            }

        }

        &_link{

            &:after{
                @extend %icomoon-set;
            }

            &_item:before{
                @extend %icomoon-set;
                animation: loading 5s infinite linear;
            }

            &_item{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                animation: loading 2s infinite linear;
                animation-play-state: paused;

                &:before{
                    content: "\e913";
                    font-size: 80px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

            }

            @include res(desktop){
                display: block;
                outline: none;
                width: 80px;
                height: 80px;
                text-decoration: none;
                position: relative;
                color: white;
                opacity: 0.5;
                animation: opacity-toggle 1s linear infinite;
                animation-play-state: paused;

                &:after{
                    content: "\e914";
                    font-size: 40px;
                    width: 38px;
                    height: 39px;
                    position: absolute;
                    top: 1px;
                    left: 5px;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    animation: opacity-toggle 3s linear infinite;
                }

                &:hover &_item{
                    animation-play-state: running;
                }

                &:hover{
                    animation-play-state: running;
                }

            }
        }
    }

    &__desc{
        position: relative;
        text-align: center;

        &_view{
            max-width: 57px;
            font-size: 59px;
            user-select: none;
            color: white;


            @include res(desktop){
                max-width: 100%;
            }
        }

        &_caption{
            font-size: 13px;
            line-height: 18px;
            font-weight: bold;
            color: $white;
            padding-top: 10px;

            @include res(desktop){
                font-size: 20px;
                line-height: 30px;
                font-weight: normal;
                letter-spacing: 2px;
            }
        }

        &_color{

            &--black{
                color: $black;
            }
        }
    }

    &__headline{
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        margin-bottom: 5px;
        letter-spacing: 0.5px;
        text-align: center;
        width: 100%;
        max-width: 520px;
        color: $black;

        @include res(tablet){
            font-size: 24px;
            line-height: 1.3;
            margin-bottom: 10px;
        }

        @include res(desktop){
            max-width: 650px;
            font-size: 30px;
            line-height: 1.2;
            text-align: left;
        }

        @include res(laptop){
            font-size: 34px;
            line-height: 1.1;
            margin-bottom: 20px;

            &.font_laptop_small{
                font-size: 30px;
            }
        }

        &_onbottom{
            margin-bottom: 0;
            margin-top: 5px;

            @include res(tablet){
                margin-bottom: 0;
                margin-top: 10px;
            }

            @include res(laptop){
                margin-bottom: 0;
                margin-top: 20px;
            }
        }

        &_desc{
            font-size: 14px;
            line-height: 1.6;
            font-weight: bold;
            max-width: 200px;
            text-align: center;
            color: #ffffff;
            width: 100%;

            @include res(tablet){
                font-size: 18px;
                line-height: 1.4;
                font-weight: bold;
                max-width: 250px;
            }

            @include res(desktop){
                width: 100%;
                max-width: 100%;
                font-size: 20px;
                font-weight: bold;
                line-height: normal;
                letter-spacing: 0.5px;
                text-align: left;
                color: $azure;
            }

            @include res(laptop){
                font-size: 24px;
            }

            &_fullwidth{
                max-width: 100%;

                @include res(tablet){
                    max-width: 100%;
                }
            }
        }
    }
}