.tile{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    @include res(tablet){
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }

    &__item{
        width: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        position: relative;
    }

}