{% extends "layouts/_header.html" %}

{% set body_class = 'page-404' %}
{% set metaTitle = '404' %}

{% block fscreen %}

<div class="page-404__headline_desc">404</div>
<h1 class="page-404__headline">Страница не найдена</h1>

{% endblock %}