{% extends 'layouts/_fscreen.html' %}

{% set body_class = '' %}
{% set metaTitle = 'Main page' %}

{% set data = {fscreenCaption: '<h1 class="fscreen__headline">MESOL - команда опытных профессионалов</h1>
   <p class="fscreen__headline_desc">в области организации и проведения научных и деловых мероприятий</p>'} %}

{% block content %}

{% include "layouts/__benefits-about.html" %}

{% include "layouts/__ceo.html" %}

<section class="slice_about">

   <div class="slice_about__message icon_handshake">Если и вы разделяете наше видение партнерских отношений, давайте знакомиться!</div>
   <div class="button__wrapper slice_about__button_wrapper">
      <a href="#request" data-feedback class="button button_order button_order_black slice_about__button">
         <span class="button_order__inner button_order__inner_black icon_plus">Напишите или позвоните нам!</span>
      </a>
   </div>

</section>

<section class="team">

   <h4 class="team__headline icon_simpozium">Давайте знакомиться:<br> наша команда</h4>

   <div class="tile team__tile">

      <div class="tile__item team__tile_item">

         <div class="team__person">
            <figure class="team__figure">
               <img src="dist/assets/img/team/team.jpg" alt="" class="team__view">
            </figure>
            <p class="team__person_text">Максим Чуяшкин</p>
            <p class="team__person_text">CEO</p>
         </div>

         <div class="team__about">
            <p>Управляющий партнёр компании MESOL.</p>
            <p>Заместитель директора Института проблем передачи информации им. А.А. Харкевича Российской академии наук.</p>
            <p>Эксперт в областях управления проектами и антикризисного управления.</p>
            <p>Эксперт в области организации научных и деловых мероприятий.</p>
         </div>
      </div>

      <div class="tile__item team__tile_item">

         <div class="team__person">
            <figure class="team__figure">
               <img src="dist/assets/img/team/team.jpg" alt="" class="team__view">
            </figure>
            <p class="team__person_text">Максим Чуяшкин</p>
            <p class="team__person_text">CEO</p>
         </div>

         <div class="team__about">
            <p>Управляющий партнёр компании MESOL.</p>
            <p>Заместитель директора Института проблем передачи информации им. А.А. Харкевича Российской академии наук.</p>
            <p>Эксперт в областях управления проектами и антикризисного управления.</p>
            <p>Эксперт в области организации научных и деловых мероприятий.</p>
         </div>
      </div>

      <div class="tile__item team__tile_item">

         <div class="team__person">
            <figure class="team__figure">
               <img src="dist/assets/img/team/team.jpg" alt="" class="team__view">
            </figure>
            <p class="team__person_text">Максим Чуяшкин</p>
            <p class="team__person_text">CEO</p>
         </div>

         <div class="team__about">
            <p>Управляющий партнёр компании MESOL.</p>
            <p>Заместитель директора Института проблем передачи информации им. А.А. Харкевича Российской академии наук.</p>
            <p>Эксперт в областях управления проектами и антикризисного управления.</p>
            <p>Эксперт в области организации научных и деловых мероприятий.</p>
         </div>
      </div>

      <div class="tile__item team__tile_item">

         <div class="team__person">
            <figure class="team__figure">
               <img src="dist/assets/img/team/team.jpg" alt="" class="team__view">
            </figure>
            <p class="team__person_text">Максим Чуяшкин</p>
            <p class="team__person_text">CEO</p>
         </div>

         <div class="team__about">
            <p>Управляющий партнёр компании MESOL.</p>
            <p>Заместитель директора Института проблем передачи информации им. А.А. Харкевича Российской академии наук.</p>
            <p>Эксперт в областях управления проектами и антикризисного управления.</p>
            <p>Эксперт в области организации научных и деловых мероприятий.</p>
         </div>
      </div>

      <div class="tile__item team__tile_item">

         <div class="team__person">
            <figure class="team__figure">
               <img src="dist/assets/img/team/team.jpg" alt="" class="team__view">
            </figure>
            <p class="team__person_text">Максим Чуяшкин</p>
            <p class="team__person_text">CEO</p>
         </div>

         <div class="team__about">
            <p>Управляющий партнёр компании MESOL.</p>
            <p>Заместитель директора Института проблем передачи информации им. А.А. Харкевича Российской академии наук.</p>
            <p>Эксперт в областях управления проектами и антикризисного управления.</p>
            <p>Эксперт в области организации научных и деловых мероприятий.</p>
         </div>
      </div>

   </div>

</section>

{% include "layouts/__sert.html" %}

{% include "layouts/__partners.html" %}

{% include "layouts/__comments.html" %}


{% endblock %}