{% extends 'layouts/_fscreen.html' %}

{% set body_class = '' %}
{% set metaTitle = 'Main page' %}

{% set data = {fscreenCaption: '<h1 class="fscreen__headline">Реализованные проекты</h1>
<p class="fscreen__headline_desc">компании MESOL</p>'} %}

{% block content %}

{% include "layouts/__cases.html" %}


{% endblock %}