{% extends 'layouts/_header.html'%}

{% set body_class = '' %}
{% set metaTitle = 'Case page' %}

{% block content %}

<section class="fscreen-case">

   <div class="fscreen-case__block">
      <figure class="fscreen-case__figure mask_blue">
         <img src="dist/assets/img/case/1.jpg" alt="" class="fscreen-case__view">
      </figure>
      <div class="fscreen-case__headline_wrapper">
         <div class="fscreen-case__mark icon_briefcase">кейс</div>

         <div class="fscreen-case__headline_desc">
            <h1 class="fscreen-case__headline">II Всероссийская конференция</h1>
            <h2 class="fscreen-case__headline_info">"Центры коллективного пользования и уникальные научные установки организаций, подведомственных ФАНО России"</h2>
         </div>
      </div>
   </div>

   <div class="fscreen-case__block fscreen-case__block_w4">
      <figure class="fscreen-case__figure">
         <img src="dist/assets/img/case/2.jpg" alt="" class="fscreen-case__view">
      </figure>
   </div>

   <div class="fscreen-case__block fscreen-case__block_w4">
      <figure class="fscreen-case__figure">
         <img src="dist/assets/img/case/3.jpg" alt="" class="fscreen-case__view">
      </figure>
   </div>

   <div class="fscreen-case__block fscreen-case__block_w2">
      <figure class="fscreen-case__figure">
         <img src="dist/assets/img/case/4.jpg" alt="" class="fscreen-case__view">
      </figure>

      <!-- если видео добавили то вставлять его здесь -->
      <!-- для видеофайлов нужно выводить пути  видео объекта в переменную links ( подробнее в external-init.js ) -->
      <div class="fscreen__video_item"></div>

      <!-- сами видео и ссылка на него могут отличаться -->
      <div class="fscreen-case__item">
         <a href="dist/assets/video/video.mp4" data-fancybox="" class="fscreen-case__video_link">
            <span class="fscreen-case__video_link_item"></span>
         </a>
      </div>
      <!--end video -->
   </div>

</section>

<section class="event">

   <div class="event__box">

      <div class="event__links_wrapper">
         <div class="event__links">
            <div class="event__links_item active">Описание мероприятия</div>
            <div class="event__links_item">Мероприятие в цифрах</div>
            <div class="event__links_item">Отзыв клиента</div>
         </div>
      </div>

      <div class="event__content">

         <div class="event__content_section active">

            <div class="event__desc wp__typo event__content_section_item">
               <h2>II Всероссийская конференция</h2><!-- Название -->
               <h3>"Центры коллективного пользования и уникальные научные установки организаций, подведомственных ФАНО России"</h3><!-- и наименование подставляется автоматом -->
               <p>"Мы полностью <strong>удовлетворены</strong> сотрудничеством с компанией МЕСОЛ и с готовностью рекомендуем их как квалифицированного, надежного и ответственного партнёра...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор физико-математических наук, профессор Пенионжкевич Ю. Э.</p>
               <p>"Мы полностью <a href="case.html">удовлетворены</a> сотрудничеством с компанией МЕСОЛ и с готовностью рекомендуем их как квалифицированного, надежного и ответственного партнёра...."</p>
               <p>Председатель оргкомитетов <i>Международных</i> симпозиумов EXON 2014 и EXON 2016, доктор физико-математических наук, профессор Пенионжкевич Ю. Э.</p>
               <p>"Мы полностью удовлетворены сотрудничеством с компанией МЕСОЛ и с готовностью рекомендуем их как квалифицированного, надежного и ответственного партнёра...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор физико-математических наук, профессор Пенионжкевич Ю. Э.</p>
               <p>"Мы полностью удовлетворены сотрудничеством с компанией МЕСОЛ и с готовностью рекомендуем их как квалифицированного, надежного и ответственного партнёра...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор физико-математических наук, профессор Пенионжкевич Ю. Э.</p>
               <p>"Мы полностью удовлетворены сотрудничеством с компанией МЕСОЛ и с готовностью рекомендуем их как квалифицированного, надежного и ответственного партнёра...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор физико-математических наук, профессор Пенионжкевич Ю. Э.</p>
               <p>"Мы полностью удовлетворены сотрудничеством с компанией МЕСОЛ и с готовностью рекомендуем их как квалифицированного, надежного и ответственного партнёра...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор физико-математических наук, профессор Пенионжкевич Ю. Э.</p>
               <p>"Мы полностью удовлетворены сотрудничеством с компанией МЕСОЛ и с готовностью рекомендуем их как квалифицированного, надежного и ответственного партнёра...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор физико-математических наук, профессор Пенионжкевич Ю. Э.</p>
            </div>

         </div>

         <div class="event__content_section">

            <div class="event__nums  event__content_section_item">

               <div class="event__nums_item">
                  <div class="event__nums_cat">
                     <div class="event__nums_view icon_simpozium"></div>
                     <p class="event__nums_name">Количество участников</p>
                  </div>
                  <div class="event__nums_val">1456</div>
               </div>

               <div class="event__nums_item">
                  <div class="event__nums_cat">
                     <div class="event__nums_view icon_customer-support"></div>
                     <p class="event__nums_name">Обслуживающий персонал</p>
                  </div>
                  <div class="event__nums_val">32</div>
               </div>

               <div class="event__nums_item">
                  <div class="event__nums_cat">
                     <div class="event__nums_view icon_conference-big"></div>
                     <p class="event__nums_name">Приглашенных гостей</p>
                  </div>
                  <div class="event__nums_val">15</div>
               </div>

               <div class="event__nums_item">
                  <div class="event__nums_cat">
                     <div class="event__nums_view icon_customer-support-robot"></div>
                     <p class="event__nums_name">Единиц техники</p>
                  </div>
                  <div class="event__nums_val">456</div>
               </div>
            </div>

         </div>

         <div class="event__content_section">

            <div class="event__comments-box  event__content_section_item">

               <div class="event__comments">
                  <div class="comments__content icon_left-quote">За время сотрудничества компания МЕСОЛ зарекомендовала себя как добросовестный, ответственный и надежный партнер...</div>
                  <div class="comments__person_info">Президент РАПН, профессор МГИМО МИД России, доктор политических наук О. В. Гаман-Голутвина</div>
               </div>

               <div class="event__sert">
                  <a data-fancybox="sert" href="dist/assets/img/sert/sert-preview.png" class="sert__figure">
                     <img src="dist/assets/img/sert/sert-preview.png" alt="" class="sert__view">
                  </a>
               </div>

            </div>

         </div>

      </div>

   </div>

</section>

<section class="event-more">

   <h3 class="event-more__headline">Другие мероприятия, организованные специалистами компании MESOL</h3>

   <div class="event-more__dots"></div>
   <div class="event-more__box js__carousel-case">

      <div><a href="case.html" class="tile__item cases__item cases__item_carousel">
         <figure class="cases__figure icon_speech">
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/13.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/14.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/15.jpg" alt="" class="cases__view"></div>
            <div class="cases__item_comment">
               <p>"Заслуга в прекрасной организации наших мероприятий принадлежит компании МЕСОЛ и её руководителю
                  Чуяшкину
                  М. И...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор
                  физико-математических
                  наук, профессор Пенионжкевич Ю. Э.</p>
            </div>
         </figure>
         <div class="cases__item_desc">II Всероссийская конференция "Центры коллективного пользования и уникальные научные
            установки организаций, подведомственных ФАНО России"
         </div>
      </a></div>

      <div><a href="case.html" class="tile__item cases__item cases__item_carousel">
         <figure class="cases__figure icon_speech">
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/13.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/14.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/15.jpg" alt="" class="cases__view"></div>
            <div class="cases__item_comment">
               <p>"Заслуга в прекрасной организации наших мероприятий принадлежит компании МЕСОЛ и её руководителю
                  Чуяшкину
                  М. И...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор
                  физико-математических
                  наук, профессор Пенионжкевич Ю. Э.</p>
            </div>
         </figure>
         <div class="cases__item_desc">II Всероссийская конференция "Центры коллективного пользования и уникальные научные
            установки организаций, подведомственных ФАНО России"
         </div>
      </a></div>

      <div><a href="case.html" class="tile__item cases__item cases__item_carousel">
         <figure class="cases__figure icon_speech">
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/13.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/14.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/15.jpg" alt="" class="cases__view"></div>
            <div class="cases__item_comment">
               <p>"Заслуга в прекрасной организации наших мероприятий принадлежит компании МЕСОЛ и её руководителю
                  Чуяшкину
                  М. И...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор
                  физико-математических
                  наук, профессор Пенионжкевич Ю. Э.</p>
            </div>
         </figure>
         <div class="cases__item_desc">II Всероссийская конференция "Центры коллективного пользования и уникальные научные
            установки организаций, подведомственных ФАНО России"
         </div>
      </a></div>

      <div><a href="case.html" class="tile__item cases__item cases__item_carousel">
         <figure class="cases__figure icon_speech">
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/13.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/14.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/15.jpg" alt="" class="cases__view"></div>
            <div class="cases__item_comment">
               <p>"Заслуга в прекрасной организации наших мероприятий принадлежит компании МЕСОЛ и её руководителю
                  Чуяшкину
                  М. И...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор
                  физико-математических
                  наук, профессор Пенионжкевич Ю. Э.</p>
            </div>
         </figure>
         <div class="cases__item_desc">II Всероссийская конференция "Центры коллективного пользования и уникальные научные
            установки организаций, подведомственных ФАНО России"
         </div>
      </a></div>

      <div><a href="case.html" class="tile__item cases__item cases__item_carousel">
         <figure class="cases__figure icon_speech">
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/13.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/14.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/15.jpg" alt="" class="cases__view"></div>
            <div class="cases__item_comment">
               <p>"Заслуга в прекрасной организации наших мероприятий принадлежит компании МЕСОЛ и её руководителю
                  Чуяшкину
                  М. И...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор
                  физико-математических
                  наук, профессор Пенионжкевич Ю. Э.</p>
            </div>
         </figure>
         <div class="cases__item_desc">II Всероссийская конференция "Центры коллективного пользования и уникальные научные
            установки организаций, подведомственных ФАНО России"
         </div>
      </a></div>

      <div><a href="case.html" class="tile__item cases__item cases__item_carousel">
         <figure class="cases__figure icon_speech">
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/13.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/14.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/15.jpg" alt="" class="cases__view"></div>
            <div class="cases__item_comment">
               <p>"Заслуга в прекрасной организации наших мероприятий принадлежит компании МЕСОЛ и её руководителю
                  Чуяшкину
                  М. И...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор
                  физико-математических
                  наук, профессор Пенионжкевич Ю. Э.</p>
            </div>
         </figure>
         <div class="cases__item_desc">II Всероссийская конференция "Центры коллективного пользования и уникальные научные
            установки организаций, подведомственных ФАНО России"
         </div>
      </a></div>

      <div><a href="case.html" class="tile__item cases__item cases__item_carousel">
         <figure class="cases__figure icon_speech">
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/13.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/14.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/15.jpg" alt="" class="cases__view"></div>
            <div class="cases__item_comment">
               <p>"Заслуга в прекрасной организации наших мероприятий принадлежит компании МЕСОЛ и её руководителю
                  Чуяшкину
                  М. И...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор
                  физико-математических
                  наук, профессор Пенионжкевич Ю. Э.</p>
            </div>
         </figure>
         <div class="cases__item_desc">II Всероссийская конференция "Центры коллективного пользования и уникальные научные
            установки организаций, подведомственных ФАНО России"
         </div>
      </a></div>

   </div>

</section>

{% endblock %}