{% extends 'layouts/_fscreen.html' %}

{% set body_class = '' %}
{% set metaTitle = 'Catalog page' %}

{% set data = {fscreenCaption: '<h1 class="fscreen__headline">Организация и проведение научных и деловых мероприятий</h1>
<p class="fscreen__headline_desc">от выбора места до предоставления закрывающих документов</p>'} %}

{% block content %}

{% include "layouts/__catalog.html" %}

<section class="slice_catalog">

   <div class="slice_catalog__message icon_conference-man">
      Не нашли подходящего? Сомневаетесь?
      <span class="slice_catalog__message_span">Оставьте заявку или позвоните нам и мы наверняка найдем лучшее решение!</span>
   </div>
   <div class="button__wrapper slice_catalog__button_wrapper">
      <a href="#request" data-feedback class="button button_order button_order_black">
         <span class="button_order__inner button_order__inner_black icon_plus">Оставить заявку</span>
      </a>
   </div>

</section>

{% include "layouts/__catalog-services.html" %}

{% include "layouts/__sert.html" %}

{% include "layouts/__partners.html" %}

{% include "layouts/__comments.html" %}


{% endblock %}