{% extends 'layouts/_header.html'%}

{% set body_class = 'full-height' %}
{% set metaTitle = 'Contacts page' %}

{% block fscreen %}

<section class="map contacts__map">

   <div class="map__info contacts__info">

      <h1 class="contacts__headline">Контакты</h1>

      <div class="contacts__info_section">
         <p class="contacts__info_caption">Наш адрес:</p>
         <p class="contacts__info_text">119034, г. Москва, ул. Городецкая 8/7б, оф. 12</p>
      </div>
      <div class="contacts__info_section">
         <p class="contacts__info_caption">Телефон для связи:</p>
         <a href="tel:+74956285627" class="contacts__info_link">+7 495 628 56 27</a>
      </div>
      <div class="contacts__info_section">
         <p class="contacts__info_caption">E-mail:</p>
         <a href="mailto:info@mesol.ru" class="contacts__info_link">info@mesol.ru</a>
      </div>

   </div>

   <div id="contacts" class="map__interface">

   </div>

</section>

<section class="slice_catalog map__slice">

   <div class="slice_catalog__message icon_target">
      Остались вопросы?
      <span class="slice_catalog__message_span">Свяжитесь с нами прямо сейчас!</span>
   </div>
   <div class="button__wrapper slice_catalog__button_wrapper">
      <a href="#request" data-feedback class="button button_order button_order_black">
         <span class="button_order__inner button_order__inner_black icon_plus">Оставить заявку</span>
      </a>
   </div>

</section>

{% endblock %}