{% extends 'layouts/_fscreen.html' %}

{% set body_class = '' %}
{% set metaTitle = 'Main page' %}

{% set data = {fscreenCaption: '<h1 class="fscreen__headline">Организация и проведение научных и деловых мероприятий</h1>
<p class="fscreen__headline_desc">на всей территории России и за рубежом</p>'} %}

{% block content %}

{% include "layouts/__benefits.html" %}

{% include "layouts/__gov.html" %}

{% include "layouts/__scheme.html" %}

{% include "layouts/__sert.html" %}

{% include "layouts/__partners.html" %}

{% include "layouts/__comments.html" %}


{% endblock %}