{% extends "layouts/_header.html" %}

{% set body_class = 'full-height' %}
{% set metaTitle = 'Contacts page' %}
{% set clusterMarker = 'true' %}

{% block fscreen %}

<section class="map map_object-info">

   <div class="map__info object-info js__object-info">

      <div class="object-info__intro"><span class="object-info__intro_ie10">Выберите интересующий объект на карте, чтобы получить про него подробную информацию</span></div>

      <!--<h2 class="object-info__headline">Отель «Континенталь»</h2>

      <div class="object-info__box">

         <div class="object-info__links">
            <div class="object-info__links_item">Информация о площадке</div>
            <div class="object-info__links_item">Проведенные мероприятия</div>
         </div>

         <div class="object-info__content">

            <div class="object-info__section">

               <div class="object-info__desc">

                  <p class="object-info__caption">Залы/Количество мест/Средняя стоимость, руб</p>
                  <div class="object-info__desc_section">

                     <p class="object-info__text">
                        <span class="object-info__text_part">Большой зал, 300 м2/150 мест</span>
                        <span class="object-info__text_part">70 000</span>
                     </p>

                     <p class="object-info__text">
                        <span class="object-info__text_part">Средний зал, 150 м2/150 мест</span>
                        <span class="object-info__text_part">40 000</span>
                     </p>

                     <p class="object-info__text">
                        <span class="object-info__text_part">Конференц зал, 90 м2/120 мест</span>
                        <span class="object-info__text_part">100 000</span>
                     </p>


                  </div>

                  <p class="object-info__caption">Питание/стоимость, руб</p>
                  <div class="object-info__desc_section">

                     <p class="object-info__text">
                        <span class="object-info__text_part">Шведский стол 150 мест</span>
                        <span class="object-info__text_part">5 000</span>
                     </p>

                     <p class="object-info__text">
                        <span class="object-info__text_part">Классчическое, за человека</span>
                        <span class="object-info__text_part">500</span>
                     </p>

                  </div>

                  <p class="object-info__caption">Адрес площадки:</p>
                  <div class="object-info__desc_section">
                     <p class="object-info__text">
                        <span class="object-info__text_part">119034, г. Москва, ул. Городецкая 8/7б, оф. 12</span>
                     </p>
                  </div>

                  <p class="object-info__caption">Транспорт:</p>
                  <div class="object-info__desc_section">
                     <p class="object-info__text">
                        <span class="object-info__text_part">Маршрутки: 32, 323А, 455: Тралейбусы: 32, 34, 43</span>
                     </p>
                  </div>

               </div>

               <div class="object-info__carousel_wrapper">

                  <p class="object-info__carousel_headline">Фото площадки:</p>

                  <div class="object-info__carousel">

                     <div class="object-info__carousel_item">
                        <a href="dist/assets/img/main/main-bg1.jpg" class="object-info__carousel_figure" data-fancybox="objects">
                           <img src="dist/assets/img/main/main-bg1.jpg" alt="" class="object-info__carousel_view">
                        </a>
                     </div>

                     <div class="object-info__carousel_item">
                        <a href="dist/assets/img/main/main-bg2.jpg" class="object-info__carousel_figure" data-fancybox="objects">
                           <img src="dist/assets/img/main/main-bg2.jpg" alt="" class="object-info__carousel_view">
                        </a>
                     </div>

                     <div class="object-info__carousel_item">
                        <a href="dist/assets/img/main/main-bg3.jpg" class="object-info__carousel_figure" data-fancybox="objects">
                           <img src="dist/assets/img/main/main-bg3.jpg" alt="" class="object-info__carousel_view">
                        </a>
                     </div>

                  </div>

               </div>

            </div>

            <div class="object-info__section">

               <div class="object-info__desc">

                  <div class="object-info__conducted">

                     <div class="object-info__conducted_item">
                        <p class="object-info__conducted_name">Конференция глобального потепления</p>
                        <a href="" class="object-info__conducted_link">Перейти в портфолио</a>
                     </div>

                     <div class="object-info__conducted_item">
                        <p class="object-info__conducted_name">II Всероссийская конференция</p>
                        <a href="" class="object-info__conducted_link">Перейти в портфолио</a>
                     </div>

                     <div class="object-info__conducted_item">
                        <p class="object-info__conducted_name">Конференция глобального потепления</p>
                        <a href="" class="object-info__conducted_link">Перейти в портфолио</a>
                     </div>

                     <div class="object-info__conducted_item">
                        <p class="object-info__conducted_name">II Всероссийская конференция</p>
                        <a href="" class="object-info__conducted_link">Перейти в портфолио</a>
                     </div>

                     <div class="object-info__conducted_item">
                        <p class="object-info__conducted_name">Конференция глобального потепления</p>
                        <a href="" class="object-info__conducted_link">Перейти в портфолио</a>
                     </div>

                     <div class="object-info__conducted_item">
                        <p class="object-info__conducted_name">II Всероссийская конференция</p>
                        <a href="" class="object-info__conducted_link">Перейти в портфолио</a>
                     </div>

                     <div class="object-info__conducted_item">
                        <p class="object-info__conducted_name">Конференция глобального потепления</p>
                        <a href="" class="object-info__conducted_link">Перейти в портфолио</a>
                     </div>

                     <div class="object-info__conducted_item">
                        <p class="object-info__conducted_name">II Всероссийская конференция</p>
                        <a href="" class="object-info__conducted_link">Перейти в портфолио</a>
                     </div>

                  </div>

               </div>

            </div>

         </div>

      </div>-->

   </div>

   <div class="object-map__desc">
      <div class="object-map__item icon_pin-event">Уже проводили мероприятия</div>
      <div class="object-map__item icon_pin-inspected">Проинспектированная локация</div>
   </div>

   <div id="map-object" class="map__interface object-info__interface">

   </div>

</section>

<section class="slice_catalog slice_contacts">

   <div class="slice_catalog__message icon_target">
      Понравилась локация?
      <span class="slice_catalog__message_span">Свяжитесь с нами прямо сейчас!</span>
   </div>
   <div class="button__wrapper slice_catalog__button_wrapper">
      <a href="#request" data-feedback class="button button_order button_order_black">
         <span class="button_order__inner button_order__inner_black icon_plus">Оставить заявку</span>
      </a>
   </div>

</section>

{% endblock %}