{% extends 'layouts/_fscreen.html' %}

{% set body_class = '' %}
{% set metaTitle = 'Services page' %}

{% set data = {fscreenCaption: '<p class="fscreen__headline_desc fscreen__headline_desc_fullwidth">Ищете что-то конкретное?</p><!-- TODO доп. класс fscreen__headline_desc_fullwidth -->
<h1 class="fscreen__headline fscreen__headline_onbottom font_laptop_small">Выберите необходимое из списка наших услуг и мы постараемся предложить вам лучшие условия</h1><!-- TODO доп. класс fscreen__headline_onbottom font_laptop_small -->'} %}

{% block content %}

{% include "layouts/__benefits.html" %}

{% include "layouts/__gov.html" %}

{% include "layouts/__services.html" %}

<section class="slice_services">

   <div class="slice_services__message icon_chat">Давайте обсудим ваше мероприятие?</div>
   <div class="button__wrapper slice_services__button_wrapper">
      <a href="#request" data-feedback class="button button_order button_order_black">
         <span class="button_order__inner button_order__inner_black icon_plus">Оставить заявку</span>
      </a>
   </div>

</section>

{% include "layouts/__sert.html" %}

{% include "layouts/__partners.html" %}

{% include "layouts/__comments.html" %}


{% endblock %}