.error{

    &__message{
        display: none;
    }

    &+&__message{
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        padding: 7px 17px;
        box-shadow: 0 2px 8px 0 rgba(186, 186, 186, 0.5);
        background: #f94f4f;
        opacity: 1;
        transform: translate3d(0, -40px, 0);
        transition: all 0.3s;

        &:after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -8px;
            margin: auto;
            width: 0;
            height: 0;
            border-top: 8px solid #f94f4f;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: none;

        }
    }
}