.leads{
    display: none;
}

.form{
    max-width: 100%;
    width: 100%;

    @include res(tablet){
        min-width: 460px;
    }

    &__content{
        font-family: 'Century Gothic', sans-serif;
        max-width: 720px;
        width: 100%;
        padding: 40px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include res(desktop){
            align-items: flex-start;
        }
    }

    &__about{
        width: 100%;
    }

    &__caption{
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 20px;
        color: black;

        @include res(desktop){
            font-size: 36px;
            line-height: 1.15;
            margin-bottom: 30px;
        }

        &_desc{
            font-size: 16px;
            line-height: 1.25;
            margin-bottom: 35px;
            color: black;

            @include res(desktop){
                font-size: 20px;
                line-height: 1.22;
            }
        }
    }

    &__fieldset{

        @include res(tablet){
            display: flex;
            justify-content: space-between;

            .form__label{
                max-width: 195px;
                width: 100%;
            }
        }
    }

    &__label{
        display: block;
        padding-bottom: 8px;
        margin-bottom: 14px;
        position: relative;
    }

    &__field{
        font-family: 'Century Gothic', sans-serif;
        height: 45px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid 1px #d6d6d6;
        background: transparent;
        outline: none;
        width: 100%;
        box-sizing: border-box;
        font-size: 18px;
        border-bottom: 2px solid #6e6f70;
        transition: all 0.3s;

        &:focus{

            border-image-source: linear-gradient(to left, #3bb9eb, #585ae6);
            border-image-slice: 1;
        }

        &::placeholder{
            color: $black;
        }

        &.error{
            border-color: red;

            &:focus{
                border-color: red;
                border-image: none;
            }

            &::placeholder{
                color: rgba(255, 0, 0, 0.7);
            }
        }

        &.error:focus{

        }
    }

    &__button{

        &_wrapper{
            flex-direction: column;
            padding: 0;
            margin-top: 30px;

            @include res(tablet){
                flex-direction: column;
                padding: 0;
            }

            @include res(desktop){
                flex-direction: row;
                align-items: flex-end;
                padding: 0;
                justify-content: space-between;
            }

            @include res(xxlarge){
                padding: 0;
            }
        }
    }

    &__symbol{
        opacity: 0.65;
        font-size: 14px;
        line-height: 1.57;
        color: $grey-dark;
        margin-bottom: 28px;

        @include res(desktop){
            margin-bottom: 0;
        }
    }

    &-thx{
        font-family: 'Century Gothic', sans-serif;
        position: relative;
        padding: 40px;

        &__headline{
            font-size: 24px;
            line-height: 1.25;
            margin-bottom: 20px;
            text-align: center;

            @include res(tablet){
                font-size: 40px;
            }
        }

        &__desc{
            font-size: 18px;
            line-height: 1.25;
            color: $black-two;
            text-align: center;

            @include res(tablet){
                font-size: 22px;
                line-height: 1.22;

            }
        }
    }

}