.page-404{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__headline{
        font-size: 24px;
        color: $black;
        line-height: 36px;
        font-weight: bold;

        &_desc{
            font-size: 56px;
            margin-bottom: 15px;
            color: $azure;
            padding-left: 40px;
            font-weight: bold;
        }
    }

}