.benefits{
    @extend %container-content;
    margin-top: 35px;
    margin-bottom: 85px;
    position: relative;

    @include res(desktop){
        margin-top: 60px;
        margin-bottom: 0;
    }

    &__headline{
        font-size: 16px;
        font-weight: bold;
        line-height: 1.38;
        text-align: center;
        margin: 0 auto 30px;

        @include res(tablet){
            font-size: 24px;
            line-height: 1.25;
        }

        @include res(desktop){
            max-width: 800px;
            margin-bottom: 60px;
            font-size: 30px;
            line-height: 1.21;
            letter-spacing: 0.5px;
        }
    }

    &__tile{
        color: black;

        @include res(tablet){
            margin-left: -15px;
            margin-right: -15px;
        }

        @include res(desktop){
            margin-left: -25px;
            margin-right: -25px;
        }

        &_item{
            margin-bottom: 35px;
            max-width: 375px;

            &:last-of-type{
                margin-bottom: 0;
            }

            @include res(tablet){
                max-width: calc(50% - 30px);
                margin: 0 15px 35px;
            }

            @include res(desktop){
                max-width: calc(33.3% - 50px);
                margin:0 25px 90px;
            }
        }
    }

    &__figure{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 18px;

        @include res(desktop){
            min-height: 60px;
        }
    }

    &__view{
        max-width: 50px;
        max-height: 50px;
        margin-right: 10px;

        @include res(desktop){
            max-width: 60px;
            max-height: 60px;
            margin-right: 12px;
        }
    }

    &__caption{
        font-size: 15px;
        font-weight: bold;
        line-height: 1.53;

        @include res(tablet){
            font-size: 17px;
            letter-spacing: 0.2px;
            max-width: calc(100% - 72px);
        }
    }

    &__desc{
        font-size: 13px;
        line-height: 1.38;
        letter-spacing: 0.2px;
        text-align: center;

        @include res(tablet){
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: 0.2px;
        }
    }

    &__bg{
        position: absolute;
        width: 240px;
        height: 55px;
        bottom: -70px;
        left: 0;
        right: 0;
        margin: auto;
        background: url("../assets/img/benefits/group.svg")no-repeat center;
        background-size: cover;

        @include res(desktop){
            top: 30px;
            bottom: 0;
        }
    }
}