.cases{
    @extend %container-content;
    padding-top: 60px;
    padding-bottom: 80px;

    @include res(tablet){
        padding-top: 60px;
        padding-bottom: 100px;
    }

    @include res(desktop){
        padding-top: 80px;
        padding-bottom: 120px;
    }

    &__headline{
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: 0.3px;
        text-align: center;
        position: relative;
        max-width: 340px;
        margin: 0 auto 30px;
        padding: 20px 0;


        @include res(tablet){
            font-size: 24px;
            line-height: 1.23;
            letter-spacing: 0.4px;
            max-width: 500px;
            padding: 20px 40px;
            box-sizing: border-box;
        }

        @include res(desktop){
            font-size: 30px;
            line-height: 1.14;
            letter-spacing: 0.5px;
            max-width: 800px;
        }

        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -10px;
            right: -10px;
            @extend %cell;
            z-index: -1;

            @include res(tablet){
                left: 0;
                right: 0;
            }
        }
    }

    &__tile{

        @include res(tablet){
            margin-left: -15px;
            margin-right: -15px;
        }

        @include res(desktop){
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    &__item {
        max-width: 350px;
        width: 100%;
        margin-bottom: 40px;
        text-decoration: none;

        &_carousel{
            margin: 0 auto 20px;
        }

        @include res(tablet) {
            width: calc(50% - 30px);
            max-width: 420px;
            margin: 0 15px 30px;

            &_carousel{
                width: 100%;
                box-sizing: border-box;
                margin: 0 0 30px;
                padding: 0 15px;
            }
        }

        @include res(desktop) {
            width: calc(33.3% - 30px);
            margin: 0 15px 30px;
            overflow: hidden;

            &:hover &_comment{
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }

            &:hover &_desc{
                text-decoration: underline;
            }

            &:hover .cases__figure:before{
                background: $azure;
            }

            &:hover .cases__figure{
                box-shadow: 0 3px 22px 1px rgba(0, 0, 0, 0.7);
            }

            &_carousel{
                width: 100%;
                box-sizing: border-box;
                margin: 0 0 30px;
                padding: 0 15px;

                .cases__item_comment{
                    display: none;
                }

                .cases__figure:before{
                    display: none;
                }

                .cases__figure{
                    height: 200px;
                }
            }

        }

        @include res(laptop){

            &_carousel{

                .cases__item_comment{
                    display: flex;
                }

                .cases__figure:before{
                    display: flex;
                }

                .cases__figure{
                    height: 300px;
                }
            }
        }



        &_comment{
            display: none;

            @include res(desktop){
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                padding: 30px;
                opacity: 0;
                transform: translate3d(0, -15px, 0);
                transition: all .3s;

                p{
                    font-size: 15px;
                    font-weight: normal;
                    line-height: 1.31;
                    letter-spacing: 0.4px;
                    text-align: center;
                    color: white;
                    margin-bottom: 25px;
                    width: 100%;

                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
            }

        }

        &_desc {
            font-size: 14px;
            letter-spacing: 0.4px;
            text-align: center;
            color: black;

            @include res(desktop) {
                font-size: 16px;
            }
        }

    }

    &__figure{
        position: relative;
        z-index: 1;
        height: 224px;
        overflow: hidden;
        margin-bottom: 16px;
        transition: box-shadow .3s;

        @include res(tablet){
            height: 300px;
        }

        &:before{

            @include res(desktop){
                width: 40px;
                height: 40px;
                position: absolute;
                left: 0;
                right: 0;
                color: white;
                font-size: 22px;
                background: black;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background .3s;
            }
        }

        &:after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background: rgba(0, 0, 0, .55);
        }

        &_wrapper{
            position: absolute;
            overflow: hidden;

            &:nth-of-type(1){
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
            }

            &:nth-of-type(2){
                top: 0;
                right: 0;
                width: 50%;
                height: 50%;
            }

            &:nth-of-type(3){
                bottom: 0;
                right: 0;
                width: 50%;
                height: 50%;

            }
        }
    }

    &__view{
        @extend %view-cover;
    }

}