.catalog-services{
    @extend %container-content;
    padding: 40px 0 30px;

    @include res(tablet){
        padding-top: 40px;
        padding-bottom: 30px;
    }

    @include res(desktop){
        padding-top: 40px;
        padding-bottom: 30px;
    }

    &__tile{
        justify-content: center;

        @include res(tablet){
            margin-left: -20px;
            margin-right: -20px;
        }

        @include res(desktop){
            margin-left: -10px;
            margin-right: -10px;
        }

        @include res(laptop){
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    &__item{
        max-width: 320px;
        height: 140px;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        overflow: hidden;

        &:before{
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background: rgba(51, 51, 51, .75);
        }

        @include res(tablet){
            max-width: calc(50% - 40px);
            margin: 0 20px 20px;
            height: 170px;
        }

        @include res(desktop){
            max-width: calc(33.3% - 20px);
            margin: 0 10px 20px;
        }

        @include res(laptop){
            max-width: calc(25% - 30px);
            margin:0 15px 30px;
            height: 200px;
        }
    }

    &__view{
        position: absolute;
        top: -100%;
        bottom: -100%;
        left: -100%;
        right: -100%;
        margin: auto;
        min-width: 100%;
        min-height: 100%;
    }

    &__caption{
        position: relative;
        z-index: 1;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.38;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
        max-width: 100%;
    }
}