.catalog{
    @extend %container-content;
    padding-top: 20px;
    padding-bottom: 40px;

    @include res(tablet){
        padding-top: 50px;
        padding-bottom: 40px;
    }

    @include res(desktop){
        padding-top: 70px;
        padding-bottom: 30px;
    }

    &__headline{
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.64;
        letter-spacing: 0.5px;
        color: $black;
        padding: 25px 10px 10px;
        position: relative;
        z-index: 1;
        margin-bottom: 30px;

        @include res(tablet){
            width: 100%;
            padding: 25px 20px 20px;
            margin: 0 15px 30px;
        }

        @include res(desktop){
            width: calc(50% - 30px);
            max-width: 50%;
            box-sizing: border-box;
            margin: 0 0 30px;
            font-size: 30px;
            font-weight: bold;
            line-height: 1.2;
            letter-spacing: 0.5px;
        }

        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -10px;
            right: -10px;
            @extend %cell;
            z-index: -1;

            @include res(tablet){
                left: 0;
                right: 0;
            }
        }

        &_span{
            font-size: 40px;
            font-weight: normal;
            line-height: 0.9;
            display: block;

            @include res(desktop){
                font-size: 50px;
                line-height: 0.72;
            }
        }
    }

    &__box{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        @include res(tablet){
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: stretch;
            margin: 0 -15px;

        }

        @include res(desktop){
            display: block;
            margin: 0 -30px 0 0;
        }
    }

    &__item{
        max-width: 320px;
        width: 100%;
        margin-bottom: 40px;

        @include res(tablet){
            width: calc(50% - 30px);
            max-width: 100%;
            margin: 0 15px 40px;
        }

        @include res(desktop){
            width: calc(25% - 30px);
            margin: 0 0 40px;
            overflow: hidden;

        }


        &_double-width{

            @include res(tablet){
                width: calc(100% - 30px);
            }

            @include res(desktop){
                width: calc(50% - 30px);
            }


        }

        &_sizer{

            @include res(desktop){
                width: calc(25% - 30px);
            }
        }

        &_caption{
            position: relative;
            padding: 15px;
            margin-bottom: 20px;

            @include res(desktop){
                display: flex;
                margin-bottom: 8px;
            }

            &:before{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                @extend %graylight-thin;
            }

            &_span{
                font-size: 15px;
                font-weight: bold;
                line-height: 1.47;
                position: relative;
                padding-bottom: 10px;

                @include res(desktop){
                    font-size: 18px;
                    line-height: 1.22;
                    letter-spacing: 0.6px;
                    padding-bottom: 6px;
                }

                &:before{
                    content: '';
                    display: block;
                    width: 2px;
                    height: 18px;
                    background: $azure;
                    position: absolute;
                    bottom: -8px;
                    left: -5px;
                }

                &:after{
                    content: '';
                    display: block;
                    width: 110%;
                    height: 2px;
                    background: $azure;
                    position: absolute;
                    bottom: 0;
                    left: -13px;

                    @include res(desktop){
                        width: 100%;
                    }
                }
            }
        }

        &_desc{
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: 0.4px;

            @include res(desktop){
                font-size: 16px;
                line-height: 1.38;
                letter-spacing: 0.5px;
            }
        }
    }

    &__figure{
        position: relative;
        height: 150px;
        width: 100%;
        overflow: hidden;

        @include res(desktop){
            margin-bottom: 8px;
        }
    }

    &__view{
        @extend %view-cover;
    }
}