.comments{
    @extend %container-content;

    &__box{
        display: flex;
        flex-direction: column;
        max-width: 355px;
        margin: 0 auto;
        padding: 60px 0 43px;


        @include res(tablet){
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            max-width: 100%;
            padding-bottom: 60px;
        }

        @include res(desktop){
            padding-bottom: 80px;
            justify-content: center;
        }
    }

    &__content{
        font-size: 16px;
        line-height: 1.38;
        text-align: center;
        color: #171617;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;

        @include res(tablet){
            font-size: 20px;
            line-height: 1.47;
            width: 100%;
        }

        @include res(desktop){
            font-size: 24px;
            line-height: 1.67;
            margin-bottom: 60px;
            max-width: 100%;

            &.ceo{
                margin-bottom: 0;
            }
        }

        &:before{
            font-size: 80px;
            color: #f0f0f0;
            opacity: 0.5;
            position: absolute;
            z-index: -1;

            @include res(phone){
                left: 0;
                right: 0;
                top: -50px;
                margin: auto;
            }

            @include res(tablet){
                top: -50px;
                left: 0;
                max-width: 620px;
                opacity: 0.7;
            }
        }

        &.ceo p{
            font-size: 13px;
            line-height: 1.54;
            margin-bottom: 20px;

            @include res(tablet){
                text-align: left;
            }

            @include res(desktop){
                font-size: 16px;
                line-height: 1.5;
            }
        }
    }

    &__person{
        display: flex;
        flex-direction: column;

        @include res(tablet){
            margin-right: 40px;
            align-items: center;
            width: 100%;

            &.ceo{
                margin-right: 0;
                align-items: flex-start;
            }
        }

        @include res(desktop){
            margin: 30px 40px 0 0;
            max-width: 620px;
            flex: 0 1 auto;

            &.ceo{
                margin: 0;
                flex: 0 1 auto;
            }

        }

        &_info{
            min-width: 206px;
            font-size: 14px;
            line-height: 1.38;
            text-align: left;
            color: #171617;
            font-weight: bold;
            letter-spacing: 0.5px;

            @include res(tablet){
                text-align: center;
                max-width: 70%;
                margin: 0 auto;

                &.ceo{
                    margin: 0;
                    text-align: left;
                }
            }

            @include res(desktop){
                font-size: 15px;
                line-height: 2;

                &_bold{
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.44;
                }

                &_text{
                    font-size: 18px;
                    line-height: 1.44;
                    font-weight: normal;
                }
            }


        }
    }

    &__figure{
        position: relative;
        margin-bottom: 15px;
        display: none;

        @include res(tablet){
            display: block;
            max-width: 236px;
            width: 100%;

            &.ceo{
                margin-right: 40px;
            }
        }

        @include res(desktop){
            min-width: 220px;
            max-width: 350px;
            width: auto;
            flex: 0 1 auto;

            &.ceo{
                max-width: 370px;
                width: 100%;
            }
        }

        &_mobile{
            display: block;

            @include res(tablet){
                display: none;
            }
        }

        &:before{
            content: '';
            display: block;
            height: 100%;
            width: 80%;
            position: absolute;
            @extend %graylight-thin;

            @include res(phone){
                left: -10px;
                top: -10px;
            }

            @include res(tablet){
                top: -15px;
                right: -15px;
            }
        }
    }

    &__view{
        border: 6px solid $azure;
        box-sizing: border-box;
        max-width: 100%;
        position: relative;
        vertical-align: top;
    }
}