.contacts{

    &__map{
        padding-top: 65px;
        position: relative;

        @include res(tablet){
            padding-top: 0;
        }
    }

    &__info{
        padding: 40px 10px 60px;
        box-sizing: border-box;
        text-align: center;
        color: black;
        order: 1;

        @include res(tablet){
            width: 300px;
            max-width: 300px;
            min-width: 300px;
            padding: 40px 30px 60px;
            order: 0;
        }

        @include res(desktop){
            width: 480px;
            max-width: 480px;
            min-width: 480px;
        }

        &_section{
            margin-bottom: 30px;

            &:last-of-type{
                margin-bottom: 0;
            }
        }

        &_caption{
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: 0.2px;
            margin-bottom: 5px;
        }

        &_text{
            font-size: 15px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.2px;
        }

        &_link{
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 0.2px;
            color: black;
            text-decoration: none;
            transition: color .3s;

            @include res(desktop){

                &:hover{
                    color: $azure;
                    text-decoration: underline;
                }
            }
        }
    }

    &__headline{
        height: 65px;
        line-height: 65px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.4px;

        @include res(tablet){
            position: relative;
            max-width: 400px;
            margin: 0 auto 30px;
        }

        &:before{
            content: '';
            display: block;
            z-index: -1;
            position: absolute;
            left: -20px;
            right: -20px;
            top: 0;
            bottom: 0;
            margin: auto;
            @extend %graylight-thin;
        }

        &:after{
            content: '';
            display: block;
            max-width: 260px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 13px;
            margin: auto;
            height: 6px;
            background: $azure;

            @include res(tablet){
                left: -10px;
                right: -10px;
            }
        }
    }
}