.event{
    @extend %container-content;

    &__box{
        display: flex;
        align-items: flex-start;
        margin: 40px auto 60px;

        @include res(desktop){
            margin: 70px auto 60px;
            position: relative;
        }
    }

    &__links{

        @include res(desktop){
            width: 320px;
        }

        &_wrapper{
            display: none;

            @include res(desktop){
                display: flex;
                flex-direction: column;
                min-width: 320px;
                max-width: 320px;
                width: 100%;
                margin-right: 40px;
            }

            @include res(laptop){
                margin-right: 80px;
            }
        }

        &_item{
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            padding: 14px 17px 14px;
            font-size: 20px;
            line-height: 1.5;
            letter-spacing: 0.3px;
            text-align: left;
            color: #171617;
            position: relative;
            z-index: 1;
            overflow: hidden;
            margin-bottom: 20px;
            border-radius: 5px;
            border: solid 1px #979797;
            user-select: none;

            &:hover:after{
                width: 30%;
            }

            &:after {
                content: '';
                display: block;
                width: 0;
                height: 4px;
                background: $azure;
                position: absolute;
                z-index: -1;
                left: 10px;
                bottom: 17px;
                transition: width .3s;

            }

            &.active{

                &:before{
                    content: '';
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    @extend %graylight-thin;
                }

                &:after{
                    width: 90%;
                }
            }
        }
    }

    &__content{

        @include res(desktop){
            width: 100%;
            flex: 0 1 auto;
        }

        &_section{
            margin: 0 auto;
            margin-bottom: 30px;
            width: 100%;

            &:last-of-type{
                margin-bottom: 0;
            }

            @include res(tablet){
                margin-bottom: 60px;
            }

            @include res(desktop){
                visibility: hidden;
                height: 0;
                overflow: hidden;
                margin-bottom: 0;
            }

            &.active{
                visibility: visible;
                height: auto;
                margin-bottom: 60px;
            }

            &.active > &_item{

                @include res(desktop){
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }
            }

            &_item{

                @include res(desktop){
                    transform: translate3d(0, -15px, 0);
                    opacity: 0;
                    transition: opacity .3s .1s, transform .3s ease .2s;
                }
            }
        }
    }

    &__desc{

    }

    &__nums{
        display: flex;
        flex-direction: column;

        @include res(tablet){
            flex-flow: row wrap;
        }

        @include res(desktop){
            padding-top: 40px;
        }

        &_item{
            margin-bottom: 50px;
            width: 100%;
            position: relative;

            @include res(tablet){
                width: 50%;
            }
        }

        &_cat{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            z-index: 1;

            @include res(desktop){
                overflow: hidden;
            }
        }

        &_view{

            &:before{
                font-size: 55px;
                color: black;
                margin-right: 20px;
            }

            @include res(desktop){
                transform: translate3d(0, 100%, 0);

                .active &{
                    transform: translate3d(0, 0, 0);
                    transition: transform .3s;
                }
            }
        }

        &_name{
            font-size: 16px;
            font-weight: bold;
            line-height: 1.53;
            letter-spacing: 1.6px;
            text-align: left;
            color: #181818;

            @include res(desktop){
                transform: translate3d(-20px, 0, 0);
                opacity: 0;
                flex: 0 1 auto;

                .active &{
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                    transition: transform .3s, opacity .3s;
                    transition-delay: .4s;

                }
            }
        }

        &_val{
            font-size: 100px;
            font-weight: bold;
            position: absolute;
            left: 75px;
            top: -25px;
            color: rgba(24, 24, 24, 0.1);

            @include res(desktop){
                font-size: 70px;
                top: -10px;
                transform: translate3d(40%, 0, 0);
                opacity: 0;

                .active &{
                    transition-delay: .2s;
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                    transition: transform .3s, opacity .15s;
                }
            }

            @include res(laptop){
                font-size: 100px;
                top: -25px;
            }
        }

        // different animation for each item

        @include res(desktop){

            // second
            .active &_item:nth-of-type(2) &_view{
                transition-delay: .3s;
            }

            .active &_item:nth-of-type(2) &_name{
                transition-delay: .5s;
            }

            .active &_item:nth-of-type(2) &_val{
                transition-delay: .4s;
            }

            //third
            .active &_item:nth-of-type(3) &_view{
                transition-delay: .6s;
            }

            .active &_item:nth-of-type(3) &_name{
                transition-delay: 1.0s;
            }

            .active &_item:nth-of-type(3) &_val{
                transition-delay: 0.8s;
            }

            //fourth

            .active &_item:nth-of-type(4) &_view{
                transition-delay: .9s;
            }

            .active &_item:nth-of-type(4) &_name{
                transition-delay: 1.5s;
            }

            .active &_item:nth-of-type(4) &_val{
                transition-delay: 1.2s;
            }
        }
    }

    &__comments{

        @include res(tablet){
            box-sizing: border-box;
            padding-right: 40px;
            max-width: 650px;
            justify-content: center;
        }

        &-box{
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include res(tablet){
                flex-direction: row;
                padding-top: 0;
            }

            @include res(desktop){
                padding-top: 60px;

                .comments__content{
                    font-size: 20px;
                    margin-bottom: 40px;
                }

            }

            .comments__person_info{
                text-align: center;
                font-size: 13px;
                margin-bottom: 40px;

                @include res(desktop){
                    max-width: 100%;
                }
            }

            .sert__view{
                box-shadow: -2px -2px 3px 1px rgba(0, 0, 0, 0.1);
            }

        }

    }

    &__sert{

        @include res(tablet){
            flex: 0 1 auto;
            max-width: 180px;
        }
    }

}