.event-more{
    @extend %container-content;
    padding-bottom: 40px;

    @include res(tablet){
        padding-bottom: 40px;
    }

    @include res(desktop){
        padding-bottom: 40px;
    }

    &__box{
        position: relative;

        @include res(desktop){
            width: 90%;
            margin: 0 auto;
        }
    }

    &__item{
        padding: 0 15px;
        box-sizing: border-box;
    }

    &__dots{
        margin-bottom: 10px;

        @include res(desktop){
            display: none;
        }
    }

    &__headline{
        font-size: 16px;
        font-weight: bold;
        line-height: 1.38;
        text-align: center;
        margin-bottom: 18px;

        @include res(tablet){
            font-size: 20px;
            margin-bottom: 25px;
        }

        @include res(desktop){
            font-size: 30px;
            letter-spacing: 0.5px;
            margin-bottom: 70px;
        }
    }
}