.fscreen-case{
    display: flex;
    flex-flow: row wrap;

    &__block{
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        min-height: 110px;
        position: relative;

        @include res(tablet){
            min-height: 180px;
        }

        @include res(desktop){
            min-height: 250px;
        }

        &_w{

            &4{
                width: 50%;
                max-width: 50%;

                @include res(tablet){
                    width: 25%;
                    max-width: 25%;
                }
            }

            &2{
                width: 100%;
                max-width: 100%;

                @include res(tablet){
                    width: 50%;
                    max-width: 50%;
                }
            }
        }
    }

    &__item{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__figure{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        min-height: 110px;

        @include res(tablet){
            min-height: 180px;
        }

        @include res(desktop){
            min-height: 250px;
        }
    }

    &__view{
        @extend %view-cover;
    }

    &__headline{
        font-size: 18px;
        font-weight: bold;
        line-height: 1.28;
        text-align: center;
        color: white;
        margin-bottom: 10px;

        @include res(tablet){
            max-width: 400px;
            font-size: 20px;
            line-height: 1.24;
            margin: 0 auto 15px;
        }

        @include res(desktop){
            font-size: 20px;
            line-height: 2;
            letter-spacing: 0.3px;
            color: $black;
            max-width: 100%;
        }

        &_wrapper{
            padding: 10px 10px 30px;
            position: relative;

            @include res(tablet){
                padding: 20px 10px 30px;
            }

            @include res(desktop){
                padding: 110px 0 0 0;
                max-width: 720px;
                box-sizing: border-box;

            }
        }

        &_desc{

            @include res(desktop){
                position: relative;
                padding: 26px 50px 20px;
                background: rgba(255, 255, 255, 0.9);
            }
        }

        &_info{
            font-size: 16px;
            line-height: 1.44;
            letter-spacing: normal;
            text-align: center;
            color: white;

            @include res(tablet){
                max-width: 500px;
                margin: 0 auto;
                font-size: 18px;
                line-height: 1.38;
            }

            @include res(desktop){
                max-width: 100%;
                font-size: 20px;
                line-height: 2;
                letter-spacing: 0.3px;
                color: $black;
            }
        }
    }

    &__mark{
        width: 100%;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 20px;
        margin-bottom: 8px;
        letter-spacing: 0.3px;
        color: #291c1c;
        background: white;

        &:before{
            display: none;
        }

        @include res(desktop){
            background: transparent;
            font-size: 30px;
            letter-spacing: 0.5px;
            text-align: center;
            color: #ffffff;
            width: 190px;
            height: 91px;
            position: absolute;
            left: 0;
            right: 0;
            top: 20px;
            margin: auto;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            overflow: hidden;

            &:before{
                display: block;
                font-size: 160px;
                color: white;
                opacity: 0.5;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                margin: auto;

            }
        }
    }

    &__video{

        &_link{
            display: block;
            outline: none;
            width: 60px;
            height: 60px;
            text-decoration: none;
            position: relative;
            color: black;
            opacity: 0.9;
            animation-play-state: paused;

            @include res(desktop){
                width: 80px;
                height: 80px;
                color: black;
            }

            &:after{
                @extend %icomoon-set;
                content: "\e914";
                font-size: 30px;
                width: 24px;
                height: 29px;
                position: absolute;
                top: 1px;
                left: 2px;
                bottom: 0;
                right: 0;
                margin: auto;
                //animation: opacity-toggle 3s linear infinite;
            }

            &_item:before{
                @extend %icomoon-set;
                animation: loading 5s infinite linear;
            }

            &_item{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                animation: loading 2s infinite linear;
                animation-play-state: paused;

                &:before{
                    content: "\e913";
                    font-size: 60px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: black;

                    @include res(desktop){
                        font-size: 80px;
                    }
                }

            }

            @include res(desktop){
                display: block;
                outline: none;
                width: 80px;
                height: 80px;
                text-decoration: none;
                position: relative;
                //animation: opacity-toggle 1s linear infinite;
                animation-play-state: paused;

                &:after{
                    content: "\e914";
                    font-size: 40px;
                    width: 36px;
                    height: 39px;
                    position: absolute;
                    top: 1px;
                    left: 5px;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    //animation: opacity-toggle 3s linear infinite;
                }

                &:hover &_item{
                    animation-play-state: running;
                }

                &:hover{
                    animation-play-state: running;
                }

            }
        }
    }


}