.gov{
    background: $black-two;
    padding:20px 0 110px;
    position: relative;
    overflow: hidden;

    @include res(desktop){
        padding: 0;
    }

    &__wrapper{
        @extend %container-content;

        @include res(desktop){
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 83px;
            padding-bottom: 80px;
            position: relative;
        }
    }

    &__headline{
        padding: 17px 0 20px 20px;
        position: relative;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.67;
        text-align: left;
        color: #ffffff;
        margin-bottom: 25px;

        &:before{
            content: '';
            display: block;
            position: absolute;
            width: calc(100% + 10px);
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 6px;
            @extend %black-thin;

            @include res(tablet){
                width: calc(100% + 30px);
            }

            @include res(desktop){
                width: 418px;
            }

            @include res(laptop){
                width: 488px;
            }
        }

        @include res(tablet){
            font-size: 24px;
            line-height: 1.45;
        }

        @include res(desktop){
            padding: 24px 0 25px 31px;
            font-size: 30px;
            font-weight: bold;
            line-height: 1.2;
            letter-spacing: 0.5px;
            max-width: 546px;
            margin-right: 20px;
            width: 100%;
    }

        &_wrapper{
            max-width: 220px;
            display: block;
            position: relative;

            @include res(tablet){
                max-width: 420px;
            }

            @include res(desktop){
                max-width: 100%;
            }
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        max-width: 420px;
        width: 100%;

        @include res(laptop){
            max-width: 520px;
        }

        &_item{
            margin-bottom: 25px;

            &:last-of-type{
                margin-bottom: 0;
            }

            @include res(tablet){
                margin-bottom: 35px;
            }
        }
    }

    &__figure{
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        @include res(laptop){
            position: relative;
        }
    }

    &__view{
        max-width: 45px;
        max-height: 50px;
        margin-right: 15px;

        @include res(laptop){
            position: absolute;
            left: -60px;
            top: 5px;
        }
    }

    &__caption{
        max-width: 195px;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 0.2px;
        color: #ffffff;

        @include res(tablet){
            max-width: 100%;
        }
    }

    &__desc{
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.2px;
        color: #ffffff;
    }

    &__bg{

        &_kremlin{
            font-size: 542px;
            opacity: 0.04;
            position: absolute;
            left: 70px;
            bottom: -78px;
            color: white;

            @include res(tablet){
                left: auto;
                right: 25px;
            }

            @include res(desktop){
                font-size: 276px;
                right: auto;
                left: 90px;
                bottom: 0;
                height: 276px;
                opacity: 0.9;

            }
        }

        &_handshake{
            display: none;

            @include res(desktop){
                display: block;
                font-size: 315px;
                position: absolute;
                bottom: 0;
                left: 195px;
                color: white;
                opacity: 0.06;
                height: 315px;
            }
        }
    }


}