.map{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    @include res(tablet){
        height: calc(100% - 140px);
        flex-direction: row;
    }

    @include res(desktop){
        height: calc(100% - 140px);
    }

    &.loading{

        &:before{
            content: "\e983";
            @extend %icomoon-set;
            color: $azure;
            @extend %loading-animation;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 32px;
            height: 32px;
            font-size: 32px;
            z-index: 2;
        }

        &:after{
            content: '';
            display: block;
            background: rgba(255, 255, 255, 0.5);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 1;
        }
    }

    &_object-info{

        @include res(desktop){
            height: 100%;
        }

        @include res(xxlarge){
            height: calc(100% - 140px);
        }

    }

    &__info{
        position: relative;
        overflow: hidden;
        z-index: 1;
        padding-top: 40px;

        &:before{
            content: '';
            display: block;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url("../assets/img/common/nav-mobile-bg.jpg")no-repeat center;
            background-size: cover;
        }

        &:after{
            content: '';
            display: block;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.7);
        }

        @include res(tablet){
            box-sizing: border-box;
            height: 100%;
        }
    }

    &__interface{
        height: 350px;
        width: 100%;
        position: relative;

        @include res(tablet){
            height: 100%;
        }

        &.loading{

            &:before{
                content: "\e983";
                @extend %icomoon-set;
                color: $azure;
                @extend %loading-animation;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 32px;
                height: 32px;
                font-size: 32px;
                z-index: 2;

            }

            &:after{
                content: '';
                display: block;
                background: rgba(255, 255, 255, 0.5);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                z-index: 1;
            }
        }
    }

    &__slice{

        @include res(tablet){
            max-height: 140px;
            box-sizing: border-box;
        }

        @include res(desktop){
            max-height: 140px;
        }
    }
}