.object-info{
    order: 1;

    @include res(tablet){
        order: 0;
        max-width: 350px;
        min-width: 350px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    @include res(desktop){
        min-width: 410px;
        max-width: 410px;
    }

    @include res(laptop){
        min-width: 480px;
        max-width: 480px;
    }

    &__intro{
        font-size: 18px;
        line-height: 30px;
        font-weight: bold;
        letter-spacing: 0.8px;
        margin-bottom: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
        padding: 20px 10px;

        @include res(tablet){
            height: 100%
        }

        &_ie10{
            flex: 0 1 auto;
            display: block;
        }
    }


    &__headline{
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 0.3px;
        margin-bottom: 30px;
        text-align: center;

        @include res(xxlarge){
            padding-top: 30px;
        }
    }

    &__box{
        padding: 0 10px 30px;

        @include res(tablet){
            box-sizing: border-box;
            height: 100%;
        }

        @include res(desktop){
            overflow: hidden;
            padding-bottom: 0;
            display: flex;
            flex-direction: column;
            flex: 0 1 auto;
        }
    }

    &__links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &_item{
            font-size: 14px;
            font-weight: bold;
            line-height: 1;
            text-align: center;
            position: relative;
            z-index: 1;
            cursor: pointer;
            max-width: 45%;
            width: 100%;
            min-width: 45%;
            box-sizing: border-box;
            padding: 10px;
            -webkit-tap-highlight-color: rgba(0,0,0,0);

            &:before{
                content: '';
                display: block;
                z-index: -1;
                position: absolute;
                left: -10px;
                right: -10px;
                top: -10px;
                bottom: 0;
                margin: auto;
                border-radius: 5px;
                @extend %graylight-thin;
            }

            &.active{

                &:after{
                    content: '';
                    display: block;
                    z-index: -1;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    background: white;
                    margin: auto;
                    border: 1px solid #979797;
                    border-radius: 4px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom: 1px solid white;
                    bottom: -3px;
                }
            }
        }
    }

    &__content{
        border: 1px solid #979797;
        border-radius: 4px;
        box-sizing: border-box;
        background: white;

        @include res(desktop){
            height: 100%;
            display: flex;
            flex-direction: column;
            flex: 0 1 auto;
        }
    }

    &__section{
        display: none;

        &.active{
            display: flex;
            flex-direction: column;

            @include res(desktop){
                justify-content: space-between;
                height: 100%;
                flex: 0 1 auto;
            }

        }
    }

    &__caption{
        font-size: 13px;
        font-weight: bold;
        line-height: 1.38;
        letter-spacing: 0.2px;
        margin-bottom: 7px;

        @include res(tablet){
            font-size: 14px;
            line-height: 1.29;
        }
    }

    &__desc{
        padding: 25px 10px 0;

        @include res(desktop){
            overflow: auto;
            flex: 0 1 auto;
        }

        &_section{
            margin-bottom: 16px;
        }
    }

    &__text{
        font-size: 13px;
        line-height: 17px;
        letter-spacing: 0.2px;
        color: #595859;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
        flex-grow: 1;

        @include res(tablet){
            font-size: 14px;
            line-height: 18px;
        }

        &_part{
            display: block;

            &:nth-of-type(2){
                position: relative;
                text-align: right;
                white-space: nowrap;

            }
        }
    }

    &__carousel{
        position: relative;
        overflow: hidden;
        max-height: 112px;

        &_wrapper{
            margin-top: 10px;

            @include res(tablet){
                align-items: flex-end;
                margin-top: 40px;
            }
        }

        &_headline{
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: 0.2px;
            text-align: center;
            margin-bottom: 10px;
        }

        &_item{

        }

        &_figure{
            display: block;
            position: relative;
            overflow: hidden;
            text-decoration: none;
            min-height: 112px;
        }

        &_view{
            @extend %view-cover;
        }
    }

    &__conducted{
        counter-reset: object-list;

        &_item{
            padding-left: 34px;
            margin-bottom: 40px;
            counter-increment: object-list;
            position: relative;

            &:before{
                content: counter(object-list);
                font-size: 50px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                position: absolute;
                top: 0;
                left: 0;

            }
        }

        &_name{
            font-size: 13px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: 0.2px;
            text-align: left;
            margin-bottom: 5px;
        }

        &_link{
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.2px;
            text-align: left;
            color: $azure;
        }
    }

    &__interface{

        @include res(tablet){
            height: calc(100% - 36px);
            top: 36px;
        }

        @include res(desktop){
            height: calc(100% - 54px);
            top: 54px;
        }

        @include res(xxlarge){
            height: 100%;
            top: 0;
        }
    }

    &__inspected{

        &-marker{
            display: flex;
            align-items: center;
            font-size: 14px;
            letter-spacing: 0.3px;
            padding: 0 0 10px 10px;
            width: 100%;
            justify-content: center;
            box-sizing: border-box;

            &:before{
                content: '';
                width: 22px;
                height: 22px;
                display: block;
                background: url("../assets/img/map/inspect.svg")no-repeat center;
                background-size: cover;
                margin-right: 3px;
            }
        }
    }
}