.object-map{

    &__desc{
        width: 100%;
        display: flex;
        padding: 12px 0 16px;
        background: $azure;

        @include res(tablet){
            position: absolute;
            top: 0;
            left: 350px;
            right: 0;
            margin: auto;
            width: auto;
            padding: 3px 10px;
            height: 36px;
            box-sizing: border-box;
        }

        @include res(desktop){
            height: 54px;
            padding: 0;
            left: 410px;
        }

        @include res(laptop){
            left: 480px;
        }

        @include res(xxlarge){
            left: 0;
            z-index: 1;
            width: 480px;
            margin: 0;
            bottom: 0;
        }


    }

    &__item{
        width: 50%;
        box-sizing: border-box;
        padding: 0 10px 0 30px;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.2px;
        text-align: left;
        color: #242020;
        position: relative;

        @include res(desktop){
            font-size: 15px;
            letter-spacing: 0.3px;
            text-align: left;
            display: flex;
            align-items: center;
            padding-left: 50px;
        }

        &:before{
            position: absolute;
            left: 0;
            top: -10px;
            bottom: -10px;
            margin: auto;
            font-size: 30px;
            height: 30px;
            color: black;
            margin-right: 60px;

            @include res(desktop){
                font-size: 50px;
                height: 50px;
                bottom: -20px;
                z-index: 1;
            }
        }
    }
}