.partners{
    position: relative;
    padding: 30px 0 60px;

    @include res(tablet){
        padding: 40px 0 60px;
    }

    @include res(desktop){
        padding: 60px 0 90px;
        overflow: hidden;
    }

    &__wrapper{
        @extend %container-content;

    }



    &__headline{
        font-size: 24px;
        font-weight: bold;
        line-height: 1.25;
        letter-spacing: 0.4px;
        color: $black;
        position: relative;
        padding: 20px 0 25px;
        text-align: center;

        @include res(tablet){
            font-size: 30px;
        }

        @include res(desktop){
            font-size: 36px;
            line-height: 0.83;
            letter-spacing: 0.6px;
        }

        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: calc(100% + 10px);
            background: repeating-linear-gradient(
                            45deg,
                            #ffffff,
                            #ffffff 3px,
                            #d3d3d3 4px,
                            #ffffff 5px
            );

            @include res(tablet){
                width: 326px;
                right: 0;
                margin: auto;
                border-radius: 4px;
                left: -80px;
            }
        }

        &_wrapper{
            position: relative;

            &:after{
                content: '';
                display: block;
                position: absolute;
                bottom: -6px;
                height: 6px;
                left: -10px;
                right: -10px;
                margin: auto;
                background: $azure;

                @include res(tablet){
                    margin: 0;
                    left: 20px;
                    width: 100%;
                }

            }
        }

    }

    &__box{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        @include res(tablet){
            margin-top: 45px;
        }

        @include res(desktop){
            margin-top: 60px;
        }
    }

    &__item{
        max-width: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        @include res(tablet){
            max-width: 33%;
        }

        @include res(desktop){
            max-width: 160px;
        }
    }

    &__view{
        max-width: 130px;
        max-height: 115px;
    }

    &__bg{
        display: none;

        @include res(desktop){
            display: block;
            font-size: 366px;
            color: black;
            opacity: 0.04;
            position: absolute;
            right: -80px;
            top: 60px;
        }
    }
}