.scheme{
    @extend %container-content;
    padding-bottom: 30px;

    @include res(tablet){
        padding-bottom: 0;
    }

    &__headline{
        margin: 50px 0 40px;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        line-height: 1.3;

        @include res(tablet){
            font-size: 30px;
            font-weight: bold;
            line-height: 1;
            letter-spacing: 0.5px;
            margin-top: 90px;
            margin-bottom: 65px;
        }

        @include res(desktop){
            margin-top: 100px;
        }

        &_wrapper{
            position: relative;

            &:before{
                font-size: 110px;
                height: 110px;
                position: absolute;
                right: -30px;
                top: -30px;
                bottom: 0;
                margin: auto;
                opacity: 0.06;

                @include res(tablet){
                    right: -60px;
                    top: -37px;
                }
            }
        }
    }

    &__tile{

        @include res(tablet){
            margin-left: -15px;
            margin-right: -15px;
            justify-content: space-around;
        }

        @include res(desktop){
            margin-left: -10px;
            margin-right: -10px;
            justify-content: flex-start;
        }

        &_item{
            max-width: 320px;
            margin: 0 0 30px;
            position: relative;

            &:last-of-type{
                margin-bottom: 0;

                .scheme__arrow{
                    display: none;
                }
            }

            @include res(tablet){
                width: calc(50% - 30px);
                margin: 0 15px 35px;
            }

            @include res(desktop){
                width: calc(25% - 20px);
                margin:0 10px 90px;
            }
        }
    }

    &__figure{
        height: 97px;
        width: 100%;
        position: relative;
        margin: 0 0 15px;
        overflow: hidden;

        @include res(tablet){
            margin: 0 0 25px;
        }
    }

    &__view{
        position: absolute;
        top: -100%;
        bottom: -100%;
        left: -100%;
        right: -100%;
        margin: auto;
        min-width: 100%;
        min-height: 100%;
    }

    &__step{
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.7px;
        color: $grey;
        margin-bottom: 8px;

        @include res(desktop){
            margin-bottom: 13px;
        }

    }

    &__desc{
        font-size: 15px;
        line-height: 1.47;
        color: #000000;
        padding-right: 20px;

        @include res(tablet){
            padding-right: 0;
        }

        &_strong{
            font-weight: bold;
        }
    }

    &__button{
        color: black;
        font-size: 18px;
        padding-left: 0;
        justify-content: center;
        @include res(desktop){
            font-size: 18px;
            padding-left: 0;
            justify-content: center;
        }

        &__wrapper{
            margin-top: 11px;
            align-items: flex-start;

            @include res(tablet){
                justify-content: flex-start;
            }

            @include res(desktop){
                margin-top: 23px;
            }
        }

    }

    &__arrow{

        @include res(phone){
            position: absolute;
            width: 1px;
            background: black;
            right: 10px;
            top: 70px;
            bottom: 0;
            margin: auto;
            opacity: 0.3;

            &:after{
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                bottom: -2px;
                right: -4px;
                left: -4px;
                margin: auto;
                border-top: 12px solid black;
                border-left: 3px solid transparent;
                border-right: 4px solid transparent;
            }

            &:before{
                content: '';
                width: 10px;
                height: 1px;
                background: black;
                position: absolute;
                top: 0;
                left: -10px;
                right: -10px;
                margin: auto;

            }
        }

        @include res(tablet){
            position: absolute;
            height: 1px;
            background: $azure;
            color: $azure;
            right: 0;
            top: 131px;
            left: 70px;
            margin: auto;
            opacity: 0.3;

            &:after{
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                bottom: -4px;
                top: -4px;
                right: -1px;
                margin: auto;
                border-left: 12px solid #16b0fd;
                border-top: 3px solid transparent;
                border-bottom: 4px solid transparent;
            }

            &:before{
                content: '';
                width: 1px;
                height: 10px;
                background: $azure;
                position: absolute;
                top: -10px;
                bottom: -10px;
                left: 0;
                margin: auto;

            }
        }

    }

}