.services{
    @extend %container-content;
    padding-top: 30px;
    padding-bottom: 70px;

    @include res(tablet){
        padding-top: 30px;
        padding-bottom: 70px;
    }

    @include res(desktop){
        padding-top: 52px;
        padding-bottom: 70px;
        position: relative;

        &:before{
            content: '';
            display: block;
            width: 222px;
            height: 130px;
            position: absolute;
            bottom: -4px;
            left: 28%;
            background: url("../assets/img/services/icon-service.svg")no-repeat center;
            background-size: cover;
        }

        &:after{
            content: '';
            display: block;
            width: 233px;
            height: 130px;
            position: absolute;
            bottom: -6px;
            right: 16%;
            background: url("../assets/img/services/icon-pulse.svg")no-repeat center;
            background-size: cover;
        }
    }

    &__headline{
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: 0.3px;
        text-align: center;
        position: relative;
        padding-top: 80px;

        @include res(tablet){
            font-size: 24px;
            line-height: 1.23;
            letter-spacing: 0.4px;
            padding-top: 35px;
        }

        @include res(desktop){
            font-size: 30px;
            line-height: 1.14;
            letter-spacing: 0.5px;
            padding-top: 35px;
        }

        &:before{
            font-size: 120px;
            opacity: 0.14;
            color: black;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            margin: auto;
        }
    }

    &__box{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include res(tablet){
            flex-flow: wrap row;
            justify-content: space-around;
            align-items: stretch;
            margin-top: 60px;
        }

        @include res(desktop){
            margin-right: -30px;
            margin-top: 80px;
        }
    }

    &__item{
        max-width: 320px;
        width: 100%;
        position: relative;
        padding: 18px 35px;
        box-sizing: border-box;
        margin-bottom: 6px;

        @include res(tablet){
            width: 50%;
            margin-bottom: 20px;
            padding: 30px 20px;
        }

        @include res(desktop){
            width: calc(25% - 30px);
            margin-bottom: 30px;
        }

        &_bg{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            overflow: hidden;
            user-select: none;

            &:after{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                background: rgba(0, 0, 0, .55);
            }
        }
    }

    &__view{
        @extend %view-cover;
    }

    &__caption{
        position: relative;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 1px;
        color: #ffffff;
        margin-bottom: 10px;
        word-wrap: break-word;

        &:before{
            display: none;
        }

        @include res(laptop){
            padding-left: 55px;
            min-height: 40px;
            display: flex;
            align-items: center;
            width: 100%;
            box-sizing: border-box;

            &:before{
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 45px;
                height: 35px;
                font-size: 35px;
                color: $azure;
            }
        }
    }

    &__desc{
        font-size: 14px;
        line-height: 1.3;
        letter-spacing: 1px;
        color: #ffffff;
        position: relative;
        word-wrap: break-word;
    }
}