.sert{
    padding: 40px 0;
    background: $black-two;

    @include res(tablet){
        padding: 50px 0 20px;
    }

    @include res(desktop){
        padding: 60px 0 80px;
    }

    &__headline{
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 0.3px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 55px;

        &_wrapper{
            position: relative;

            &:before{
                font-size: 110px;
                height: 110px;
                position: absolute;
                right: 0;
                left: 0;
                bottom: -40px;
                top: -40px;
                margin: auto;
                opacity: 0.06;
                color: white;

                @include res(desktop){
                    font-size: 150px;
                    height: 160px;
                }
            }
        }

        @include res(tablet){
            font-size: 24px;
        }

        @include res(desktop){
            font-size: 30px;
            font-weight: bold;
            line-height: 1;
            letter-spacing: 0.5px;
        }


    }

    &__tile{
        @extend %container-content;

        @include res(tablet){
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: nowrap;
        }

        &_item{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 60px;

            @include res(tablet){
                margin-right: 40px;

                &:last-of-type{
                    margin-right: 0;
                }
            }

            @include res(desktop){
                max-width: 33%;
                flex-direction: row;
                align-items: flex-end;
                margin-right: 60px;
                margin-bottom: 0;
                flex: 0 1 auto;
            }


        }
    }

    &__logo{
        max-width: 125px;
        max-height: 80px;
        position: relative;
        padding-bottom: 10px;
        width: 100%;

        @include res(desktop){
            margin-left: 10px;
            flex: 0 1 auto;
        }

        &:after{
            content: '';
            width: 103px;
            max-width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;

            @include res(desktop){
                margin: 0;
            }
        }

        &:before{
            content: '';
            width: 103px;
            max-width: 100%;
            box-sizing: border-box;
            height: 8px;
            border: 2px solid white;
            border-top: none;
            border-bottom: none;
            position: absolute;
            bottom: -3px;
            left: 0;
            right: 0;
            margin: auto;

            @include res(desktop){
                margin: 0;
            }
        }

        &_view{
            max-width: 100%;
            vertical-align: top;

            @include res(desktop){
                transform: translateX(15px);
            }
        }
    }

    &__figure{
        max-width: 210px;
        border: 2px solid $azure;
        margin-bottom: 10px;
        display: block;
        width: 100%;
        transition: background-color .3s;

        @include res(tablet){
            margin-bottom: 0;
            flex: 0 1 auto;
        }

        @include res(desktop){

            &:hover{
                background-color: #0079c2;
            }
        }
    }

    &__view{
        max-width: 100%;
        vertical-align: top;
        transform: translate3d(-10px, -10px, 0);
    }


}