.slice{

    &_about{
        padding: 140px 30px 35px;
        background: url("../assets/img/slice/about-bg.png")no-repeat center $azure;
        background-size: cover;
        position: relative;

        @include res(tablet){
            padding: 40px 30px 25px;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        &__message{
            font-size: 15px;
            font-weight: bold;
            line-height: 1.47;
            text-align: left;
            color: #ffffff;
            margin: 8px 0 16px;

            @include res(tablet){
                font-size: 20px;
                font-weight: normal;
                line-height: 1.25;
                letter-spacing: 0.5px;
                margin-right: 50px;
                margin-left: 40px;
                max-width: calc(100% - 410px );

                position: relative;
            }

            @include res(desktop){
                font-size: 24px;
            }

            &:before{
                font-size: 92px;
                position: absolute;

                @include res(phone){
                    left: 0;
                    right: 0;
                    top: 30px;
                    margin: auto;
                    opacity: 0.6;
                    color: white;
                    text-align: center;
                }

                @include res(tablet){
                    left: -65px;
                    bottom: -30px;
                    top: -30px;
                    margin: auto;
                    color: black;
                    opacity: 0.1;
                    height: 92px;
                }
            }
        }

        &__button{
            font-size: 14px;
            padding-left: 7px;

            @include res(desktop){
                font-size: 17px;
            }

            &_wrapper{
                align-items: flex-start;

                @include res(tablet){
                    min-width: 250px;
                    max-width: 250px;
                    width: 100%;
                }

                @include res(desktop){
                    min-width: 320px;
                    max-width: 320px;
                }
            }
        }
    }

    &_services{
        padding: 140px 30px 35px;
        background: url("../assets/img/services/slice-services.png")no-repeat center $azure;
        background-size: cover;
        position: relative;

        @include res(tablet){
            padding: 58px 30px 32px;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        &__message{
            font-size: 18px;
            font-weight: bold;
            line-height: 1.47;
            text-align: left;
            color: #ffffff;
            margin: 8px 0 16px;

            @include res(tablet){
                font-size: 20px;
                font-weight: normal;
                line-height: 1.25;
                letter-spacing: 0.5px;
                margin: 0 50px 0 40px;
                max-width: calc(100% - 410px );

                position: relative;
            }

            @include res(desktop){
                font-size: 26px;
            }

            &:before{
                font-size: 92px;
                position: absolute;

                @include res(phone){
                    left: 0;
                    right: 0;
                    top: 30px;
                    margin: auto;
                    opacity: 0.6;
                    color: white;
                    text-align: center;
                }

                @include res(tablet){
                    left: -65px;
                    bottom: -30px;
                    top: -30px;
                    margin: auto;
                    color: black;
                    opacity: 0.1;
                    height: 92px;
                }
            }
        }

        &__button{

            &_wrapper{
                align-items: flex-start;
            }
        }
    }

    &_catalog{
        padding: 140px 30px 35px;
        background: url("../assets/img/catalog/catalog-slice.png")no-repeat center $azure;
        background-size: cover;
        position: relative;

        @include res(tablet){
            padding: 58px 30px 32px;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        &__message{
            font-size: 16px;
            font-weight: bold;
            line-height: 1.14;
            color: #ffffff;
            margin: 8px 0 16px;

            &_span{
                display: block;
                margin-top: 10px;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.8px;
                font-weight: normal;
            }

            @include res(tablet){
                font-size: 20px;
                font-weight: normal;
                line-height: 1.25;
                letter-spacing: 0.5px;
                margin: 0 50px 0 40px;
                max-width: calc(100% - 410px );

                position: relative;
            }

            @include res(desktop){
                font-size: 26px;
            }

            &:before{
                font-size: 92px;
                position: absolute;

                @include res(phone){
                    left: 0;
                    right: 0;
                    top: 30px;
                    margin: auto;
                    opacity: 0.6;
                    color: white;
                    text-align: center;
                }

                @include res(tablet){
                    left: -95px;
                    bottom: -30px;
                    top: -30px;
                    margin: auto;
                    color: white;
                    opacity: 0.7;
                    height: 92px;
                }
            }
        }

        &__button{

            &_wrapper{
                align-items: flex-start;
            }
        }
    }

    &_contacts{

        @include res(desktop){
            display: none;
        }

        @include res(xxlarge){
            display: flex;

            .map ~ &{
                padding: 0;
                height: 140px;
            }
        }
    }

}