.team{
    @extend %container-content;
    padding: 63px 0 20px;

    @include res(tablet){
        padding-top: 63px;
        padding-bottom: 20px;
    }

    @include res(desktop){
        padding-top: 70px;
        padding-bottom: 20px;
    }

    &__headline{
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: 0.3px;
        text-align: center;
        color: black;
        position: relative;
        padding: 0 10px;
        margin-bottom: 30px;

        &:before{
            color: black;
            opacity: 0.1;
            position: absolute;
            left: 0;
            right: 0;
            top: -40px;
            margin: auto;
            font-size: 80px;
            height: 80px;
        }

        @include res(desktop){
            font-size: 30px;
            font-weight: bold;
            line-height: 1;
            letter-spacing: 0.5px;
            margin-bottom: 55px;

            br{
                display: none;
            }
        }

    }

    &__tile{

        @include res(tablet){
        }

        @include res(desktop){
            margin-left: -25px;
            margin-right: -25px;
        }

        &_item{
            width: 100%;
            background-color: $gray;
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            max-width: 320px;
            margin-bottom: 20px;


            @include res(tablet){
                margin-bottom: 30px;
                padding-bottom: 40px;
                flex-direction: row;
                max-width: 100%;
            }

            @include res(desktop){
                max-width: calc(50% - 50px);
                margin:0 25px 30px;
                flex-direction: column;

                &:nth-of-type(2n+2){
                    margin-right: 0;
                }
            }

            @include res(laptop){
                flex-direction: row;
            }
        }
    }

    &__person{

        @include res(tablet){
            margin-right: 20px;
        }

        &_text{
            font-size: 15px;
            font-weight: bold;
            line-height: 1.33;
            letter-spacing: 0.5px;
            padding: 0 10px;
        }
    }

    &__figure{
        width: 100%;
        max-width: 320px;
        position: relative;
        margin-bottom: 20px;

        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 10px;
            left: 0;
            @extend %gray-thin;

            @include res(tablet){
                left: 10px;
            }
        }

        @include res(tablet){
            min-width: 320px;
        }
    }

    &__view{
        max-width: 100%;
        vertical-align: top;
        position: relative;
    }

    &__about{
        margin-top: 20px;
        padding: 0 10px;

        @include res(tablet){
            flex: 0 1 auto;
        }

        p{
            font-size: 13px;
            line-height: 1.69;
            margin-bottom: 8px;

            @include res(desktop){
                font-size: 14px;
                line-height: 1.57;
            }
        }
    }


}