%icomoon-set{
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
}

[class^="icon_"]:before, [class*=" icon_"]:before {
    @extend %icomoon-set;
}

.icon_spinner9:before {
    content: "\e982";
}
.icon_spinner10:before {
    content: "\e983";
}
.icon_briefcase:before {
    content: "\e900";
}
.icon_chat:before {
    content: "\e901";
}
.icon_checked:before {
    content: "\e902";
}
.icon_conference:before {
    content: "\e903";
}
.icon_conference-big:before {
    content: "\e904";
}
.icon_conference-man:before {
    content: "\e905";
}
.icon_congress:before {
    content: "\e906";
}
.icon_customer-support:before {
    content: "\e907";
}
.icon_customer-support-robot:before {
    content: "\e908";
}
.icon_double-arrow:before {
    content: "\e909";
}
.icon_handshake:before {
    content: "\e90a";
}
.icon_handshake-2:before {
    content: "\e90b";
}
.icon_kremlin:before {
    content: "\e90c";
}
.icon_left-quote:before {
    content: "\e90d";
}
.icon_logo-small:before {
    content: "\e90e";
}
.icon_megaphone:before {
    content: "\e90f";
}
.icon_pin-event:before {
    content: "\e910";
}
.icon_pin-inspected:before {
    content: "\e911";
}
.icon_play-button:before {
    content: "\e912";
}
.icon_play-circle:before {
    content: "\e913";
}
.icon_play-triangle:before {
    content: "\e914";
}
.icon_plus:before {
    content: "\e915";
}
.icon_presentation:before {
    content: "\e916";
}
.icon_satellite:before {
    content: "\e917";
}
.icon_scheme:before {
    content: "\e918";
}
.icon_shape:before {
    content: "\e919";
}
.icon_simpozium:before {
    content: "\e91a";
}
.icon_speech:before {
    content: "\e91b";
}
.icon_target:before {
    content: "\e91c";
}
