%black-thin{
    background: repeating-linear-gradient(
                    45deg,
                    $black,
                    $black 1px,
                    $black-two 3px,
                    $black-two 4px
    );
}

%black-medium{
    background: repeating-linear-gradient(
                    135deg,
                    $grey-dark,
                    $grey-dark 2px,
                    $black 2px,
                    $black 12px
    );
}

%graylight-thin{
    background: repeating-linear-gradient(
                    45deg,
                    #ffffff,
                    #ffffff 3px,
                    #d3d3d3 4px,
                    #ffffff 5px
    );
}

%gray-thin{
    background: repeating-linear-gradient(
                    45deg,
                    $gray,
                    $gray 3px,
                    #C2C2C2 4px,
                    $gray 5px
    );
}


$transparent: rgba(0, 0, 0, 0);
%cell{
    background: linear-gradient(
                    $transparent 90%,
                    #E9E9E9 10%
    ),
    linear-gradient(90deg,
                    $transparent 90%,
                    #E9E9E9 10%
    );
    background-size: 6px 6px;
    background-position: center center;
}

