<section class="benefits">

   <h2 class="headline benefits__headline">Ключевые преимущества компании MESOL в сфере организации и проведения мероприятий</h2>

   <div class="tile benefits__tile">

      <div class="tile__item benefits__tile_item">
         <figure class="benefits__figure">
            <img class="benefits__view" src="dist/assets/img/benefits/target.svg" alt="">
            <figcaption class="benefits__caption">Индивидуальный подход</figcaption>
         </figure>
         <div class="benefits__desc">Персональный подход, исходя из ваших задач, пожеланий и бюджета. Организация мероприятия «под ключ» или формирование индивидуального пакета услуг.</div>
      </div>

      <div class="tile__item benefits__tile_item">
         <figure class="benefits__figure">
            <img class="benefits__view" src="dist/assets/img/benefits/nadeznost.svg" alt="">
            <figcaption class="benefits__caption">Надёжность и ответственность</figcaption>
         </figure>
         <div class="benefits__desc">Четкое соблюдение условий договора и сроков по разработанному план-графику действий, необходимых для качественного проведения мероприятия. </div>
      </div>

      <div class="tile__item benefits__tile_item">
         <figure class="benefits__figure">
            <img class="benefits__view" src="dist/assets/img/benefits/price-tag.svg" alt="">
            <figcaption class="benefits__caption">Неизменная фиксированная смета </figcaption>
         </figure>
         <div class="benefits__desc">Изначально озвученная стоимость услуг остаётся неизменной. Утвержденная смета не вырастет ни на копейку.</div>
      </div>

      <div class="tile__item benefits__tile_item">
         <figure class="benefits__figure">
            <img class="benefits__view" src="dist/assets/img/benefits/otchetnost.svg" alt="">
            <figcaption class="benefits__caption">Строгая отчётность </figcaption>
         </figure>
         <div class="benefits__desc">По окончании мероприятия помощь в подготовке всей отчетности, включая закрывающие финансовые документы, закрытие командировочных удостоверений и т.д.</div>
      </div>

      <div class="tile__item benefits__tile_item">
         <figure class="benefits__figure">
            <img class="benefits__view" src="dist/assets/img/benefits/stamp.svg" alt="">
            <figcaption class="benefits__caption">Профессионализм и опыт</figcaption>
         </figure>
         <div class="benefits__desc"> Убедитесь в качестве проведенных нами мероприятий в разделе «Портфолио».</div>
      </div>

      <div class="tile__item benefits__tile_item">
         <figure class="benefits__figure">
            <img class="benefits__view" src="dist/assets/img/benefits/stick-man.svg" alt="">
            <figcaption class="benefits__caption">Гарантированный результат</figcaption>
         </figure>
         <div class="benefits__desc">Высочайший уровень проведения мероприятия с самым быстрым откликом на непредвиденные ситуации и пожелания.</div>
      </div>

   </div>

   <div class="benefits__bg"></div>
</section>