<section class="benefits">

   <h2 class="headline benefits__headline">Наши конкурентные преимущества</h2>

   <div class="tile benefits__tile">

      <div class="tile__item benefits__tile_item">
         <figure class="benefits__figure">
            <img class="benefits__view" src="dist/assets/img/benefits/microscope.svg" alt="">
            <figcaption class="benefits__caption">Узкая специализация</figcaption>
         </figure>
         <div class="benefits__desc">Конгрессы, конференции, симпозиумы, семинары, лекции, деловые встречи - основная и единственная специализация компании. Поэтому мы – одни из лучших в своем деле.</div>
      </div>

      <div class="tile__item benefits__tile_item">
         <figure class="benefits__figure">
            <img class="benefits__view" src="dist/assets/img/benefits/atom.svg" alt="">
            <figcaption class="benefits__caption">Всесторонний опыт</figcaption>
         </figure>
         <div class="benefits__desc">Огромный опыт работы в научной, академической и образовательной среде, в том числе и на стороне заказчика, позволяет понимать и предвидеть все потребности оргкомитета.</div>
      </div>

      <div class="tile__item benefits__tile_item">
         <figure class="benefits__figure">
            <img class="benefits__view" src="dist/assets/img/benefits/laptop.svg" alt="">
            <figcaption class="benefits__caption">Не экономим на материалах, оборудовании и качестве</figcaption>
         </figure>
         <div class="benefits__desc">Используются только качественные материалы, оборудование, продукты питания. Для снижения зависимости от субподрядчиков, мы приобретаем и модернизируем собственное оборудование.</div>
      </div>

      <div class="tile__item benefits__tile_item">
         <figure class="benefits__figure">
            <img class="benefits__view" src="dist/assets/img/benefits/otchetnost.svg" alt="">
            <figcaption class="benefits__caption">Всегда укладываемся в смету и сроки</figcaption>
         </figure>
         <div class="benefits__desc"> Условия договора и положения сметы не меняются в одностороннем порядке. Только вы сами можете что-то изменить, добавить или убрать – мы всегда это поддержим и порекомендуем как сделать лучше.</div>
      </div>

      <div class="tile__item benefits__tile_item">
         <figure class="benefits__figure">
            <img class="benefits__view" src="dist/assets/img/benefits/stamp.svg" alt="">
            <figcaption class="benefits__caption">Ответственность за решения</figcaption>
         </figure>
         <div class="benefits__desc">Минимальное количество согласований для принятия решения. Это значит, что работающий с вами менеджер сам принимает 90% решений относительно возникающих ситуаций и несёт ответственность за результат.</div>
      </div>

      <div class="tile__item benefits__tile_item">
         <figure class="benefits__figure">
            <img class="benefits__view" src="dist/assets/img/benefits/stick-man.svg" alt="">
            <figcaption class="benefits__caption">Клиентоориентированность</figcaption>
         </figure>
         <div class="benefits__desc">Любые недопонимания мы трактуем в пользу заказчика. Если в процессе организации и проведения мероприятия возникает нештатная ситуация, мы принимаем риски на себя.</div>
      </div>

   </div>

   <div class="benefits__bg"></div>
</section>