<section class="cases">

   <h2 class="cases__headline">Мероприятия, организованные специалистами компании MESOL</h2>

   <div class="tile cases__tile">

      <a href="case.html" class="tile__item cases__item">
         <figure class="cases__figure icon_speech">
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/1.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/2.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/3.jpg" alt="" class="cases__view"></div>
            <div class="cases__item_comment">
               <p>"Заслуга в прекрасной организации наших мероприятий принадлежит компании МЕСОЛ и её руководителю
                  Чуяшкину
                  М. И...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор
                  физико-математических
                  наук, профессор Пенионжкевич Ю. Э.</p>
            </div>
         </figure>
         <div class="cases__item_desc">II Всероссийская конференция "Центры коллективного пользования и уникальные научные
            установки организаций, подведомственных ФАНО России"
         </div>
      </a>

      <a href="case.html" class="tile__item cases__item">
         <figure class="cases__figure icon_speech">
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/4.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/5.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/6.jpg" alt="" class="cases__view"></div>
            <div class="cases__item_comment">
               <p>"Заслуга в прекрасной организации наших мероприятий принадлежит компании МЕСОЛ и её руководителю
                  Чуяшкину
                  М. И...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор
                  физико-математических
                  наук, профессор Пенионжкевич Ю. Э.</p>
            </div>
         </figure>
         <div class="cases__item_desc">II Всероссийская конференция "Центры коллективного пользования и уникальные научные
            установки организаций, подведомственных ФАНО России"
         </div>
      </a>

      <a href="case.html" class="tile__item cases__item">
         <figure class="cases__figure icon_speech">
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/7.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/8.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/9.jpg" alt="" class="cases__view"></div>
            <div class="cases__item_comment">
               <p>"Заслуга в прекрасной организации наших мероприятий принадлежит компании МЕСОЛ и её руководителю
                  Чуяшкину
                  М. И...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор
                  физико-математических
                  наук, профессор Пенионжкевич Ю. Э.</p>
            </div>
         </figure>
         <div class="cases__item_desc">II Всероссийская конференция "Центры коллективного пользования и уникальные научные
            установки организаций, подведомственных ФАНО России"
         </div>
      </a>

      <a href="case.html" class="tile__item cases__item">
         <figure class="cases__figure icon_speech">
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/10.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/11.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/12.jpg" alt="" class="cases__view"></div>
            <div class="cases__item_comment">
               <p>"Заслуга в прекрасной организации наших мероприятий принадлежит компании МЕСОЛ и её руководителю
                  Чуяшкину
                  М. И...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор
                  физико-математических
                  наук, профессор Пенионжкевич Ю. Э.</p>
            </div>
         </figure>
         <div class="cases__item_desc">II Всероссийская конференция "Центры коллективного пользования и уникальные научные
            установки организаций, подведомственных ФАНО России"
         </div>
      </a>

      <a href="case.html" class="tile__item cases__item">
         <figure class="cases__figure icon_speech">
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/13.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/14.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/15.jpg" alt="" class="cases__view"></div>
            <div class="cases__item_comment">
               <p>"Заслуга в прекрасной организации наших мероприятий принадлежит компании МЕСОЛ и её руководителю
                  Чуяшкину
                  М. И...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор
                  физико-математических
                  наук, профессор Пенионжкевич Ю. Э.</p>
            </div>
         </figure>
         <div class="cases__item_desc">II Всероссийская конференция "Центры коллективного пользования и уникальные научные
            установки организаций, подведомственных ФАНО России"
         </div>
      </a>

      <a href="case.html" class="tile__item cases__item">
         <figure class="cases__figure icon_speech">
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/16.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/17.jpg" alt="" class="cases__view"></div>
            <div class="cases__figure_wrapper"><img src="dist/assets/img/catalog-services/18.jpg" alt="" class="cases__view"></div>
            <div class="cases__item_comment">
               <p>"Заслуга в прекрасной организации наших мероприятий принадлежит компании МЕСОЛ и её руководителю
                  Чуяшкину
                  М. И...."</p>
               <p>Председатель оргкомитетов Международных симпозиумов EXON 2014 и EXON 2016, доктор
                  физико-математических
                  наук, профессор Пенионжкевич Ю. Э.</p>
            </div>
         </figure>
         <div class="cases__item_desc">II Всероссийская конференция "Центры коллективного пользования и уникальные научные
            установки организаций, подведомственных ФАНО России"
         </div>
      </a></div>

</section>