<section class="catalog">

   <div class="catalog__box">

      <div class="catalog__item_sizer"></div>

      <h2 class="catalog__headline">
         Каталог услуг компании
         <span class="catalog__headline_span">МЕSOL</span>
      </h2>

      <div class="catalog__item catalog__item_double-width">
         <figure class="catalog__figure">
            <img src="dist/assets/img/catalog/1.jpg" alt="" class="catalog__view">
         </figure>
         <h3 class="catalog__item_caption">
            <span class="catalog__item_caption_span">Выбор площадки - места проведения мероприятия</span>
         </h3>
         <p class="catalog__item_desc">Едва ли не самый ответственный момент в организации мероприятия. Подобрать подходящую площадку – это долгая и кропотливая работа, требующая глубокого понимания потребностей оргкомитета и специфики мероприятия. Ведь место проведения вашего мероприятия должно быть удачно расположено, иметь необходимый набор конференц-залов с нужной вместимостью, базовый набор конференц-услуг и обладать достаточным количеством номеров для размещения участников. Руководство площадки должно быть гибким, а персонал приветливым! Нельзя забывать и о стоимости конференц-услуг, ведь аренда конференц-залов и оборудования, зачастую, составляет львиную долю бюджета.</p>
      </div>

      <div class="catalog__item">
         <figure class="catalog__figure">
            <img src="dist/assets/img/catalog/2.jpg" alt="" class="catalog__view">
         </figure>
         <h3 class="catalog__item_caption">
            <span class="catalog__item_caption_span">Регистрация участников</span>
         </h3>
         <p class="catalog__item_desc">Наиболее трудоёмкий и нервный процесс. Нужно сразу предусмотреть весь перечень данных, в том числе персональных, которые необходимо получить от участников мероприятия. А потом очень просто, чётко и понятно донести до каждого потенциального участника мероприятия – что именно и в какой форме вы хотите от них получить. Необходимо связаться с каждым из них, уточнить необходимую информацию и объяснить – для чего она необходима.</p>
      </div>

      <div class="catalog__item">
         <figure class="catalog__figure">
            <img src="dist/assets/img/catalog/3.jpg" alt="" class="catalog__view">
         </figure>
         <h3 class="catalog__item_caption">
            <span class="catalog__item_caption_span">Логистика участников</span>
         </h3>
         <p class="catalog__item_desc">Иностранным и иногородним участникам нужно помочь с приобретением билетов, обеспечить визовую поддержку, организовать встречу/проводы в аэропорт или на железнодорожный вокзал. Наверняка, на вашем мероприятии будет несколько очень уважаемых людей, которым нужно обеспечить особый подход, предоставив транспорт бизнес-класса, индивидуального переводчика и другие необходимые знаки заботы и внимания. Ну а для местных участников мероприятия можно предусмотреть групповые варианты доставки до площадки.</p>
      </div>

      <div class="catalog__item">
         <figure class="catalog__figure">
            <img src="dist/assets/img/catalog/4.jpg" alt="" class="catalog__view">
         </figure>
         <h3 class="catalog__item_caption">
            <span class="catalog__item_caption_span">Макетирование и тиражирование раздаточных материалов</span>
         </h3>
         <p class="catalog__item_desc">Этап организации мероприятия, к которому нужно приступать после того, как утверждена его программа и состав докладчиков, а также собрана вся информация, которую нужно иметь в наборе участника. Обычно на эту работу остаётся совсем немного времени, поскольку организация мероприятия – процесс очень гибкий и подвержен изменениям вплоть до своего окончания. Убедитесь, что ваши исполнители проверены, надёжны и умеют работать быстро и качественно!</p>
      </div>

      <div class="catalog__item">
         <figure class="catalog__figure">
            <img src="dist/assets/img/catalog/5.jpg" alt="" class="catalog__view">
         </figure>
         <h3 class="catalog__item_caption">
            <span class="catalog__item_caption_span">Промоушен мероприятия</span>
         </h3>
         <p class="catalog__item_desc">Помимо сайта мероприятия или раздела на вашем корпоративном сайте о предстоящем мероприятии, необходимо создать красивый и информативный рекламный проспект (CFP) и разослать его потенциально заинтересованным участникам. Хорошим решением будет договориться с несколькими профильными интернет-порталами о размещении информации о вашем мероприятии у них в новостных лентах. Ну и, конечно,результативно работают рекламные постеры, размещенные в профильных учреждениях/организациях на информационных досках.</p>
      </div>

      <div class="catalog__item">
         <figure class="catalog__figure">
            <img src="dist/assets/img/catalog/6.jpg" alt="" class="catalog__view">
         </figure>
         <h3 class="catalog__item_caption">
            <span class="catalog__item_caption_span">Привлечение спонсоров </span>
         </h3>
         <p class="catalog__item_desc">Мы можем существенно облегчить ваше финансовое бремя и разнообразить времяпрепровождение участников мероприятия. Не забудьте разработать типы спонсорских пакетов и разослать приглашения к спонсорскому участию профильным коммерческим и государственным организациям.</p>
      </div>

      <div class="catalog__item">
         <figure class="catalog__figure">
            <img src="dist/assets/img/catalog/7.jpg" alt="" class="catalog__view">
         </figure>
         <h3 class="catalog__item_caption">
            <span class="catalog__item_caption_span">Сбор организационных взносов</span>
         </h3>
         <p class="catalog__item_desc">Сборы взносов – это не простая процедура. Прежде всего, надо убедиться, что организация, на чей счёт будут перечисляться финансовые средства, юридически и процедурно может принимать такие платежи. Необходимо знать, какие налоги и прочие обязательные выплаты будут удержаны с поступающих сумм.</p>
      </div>

      <div class="catalog__item catalog__item_double-width">
         <figure class="catalog__figure">
            <img src="dist/assets/img/catalog/8.jpg" alt="" class="catalog__view">
         </figure>
         <h3 class="catalog__item_caption">
            <span class="catalog__item_caption_span">Регистрация участников на месте</span>
         </h3>
         <p class="catalog__item_desc">Это самое узкое место организации мероприятия. Необходимо определить формат регистрации – с печатью бейджей на месте или заранее, с возможностью регистрации онлайн или без таковой, с материалами и их дифференциацией при выдаче участникам мероприятия и многое, многое другое. Важно помнить, что процесс регистрации одного человека не должен занимать более 20 секунд.</p>
      </div>

      <div class="catalog__item catalog__item_double-width">
         <figure class="catalog__figure">
            <img src="dist/assets/img/catalog/9.jpg" alt="" class="catalog__view">
         </figure>
         <h3 class="catalog__item_caption">
            <span class="catalog__item_caption_span">Сопровождение мероприятия  участников на месте</span>
         </h3>
         <p class="catalog__item_desc">Этим мы занимаемся на протяжении всего мероприятия, с того момента, как первый участник попал на территорию проведения мероприятия и получил свой бейдж. Залы должны быть открыты вовремя, убраны и проветрены. Всё оборудование должно исправно функционировать, каждый технический оператор должен находиться на своём посту, рассадка в зале должна соответствовать заявленной. Мы следим за тем, чтобы кофе-брейки накрывались своевременно, аобеды были сервированы к перерыву. Нужно учесть особенности питания некоторых участников в связи с религиозными или идеологическими мотивами, отслеживать изменения в расписании, контролировать экскурсионное и транспортное обслуживание, решать вопросы с участниками: где-то забыли ноутбук, кого-то в номер не заселили и ещё миллион мелочей, всплывающих всегда неожиданно и не-во-время.</p>
      </div>

   </div>

</section>