<section class="catalog-services">

   <div class="tile catalog-services__tile">

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/1.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Оформление авиа и ж/д билетов</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/2.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Бронирование гостиниц, размещение участников</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/3.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Индивидуальное и групповое транспортное обслуживание</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/4.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Экскурсионное обслуживание</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/5.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Макетирование и тиражирование информационно-раздаточных материалов</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/6.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Маркетинг</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/7.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Регистрация участников</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/8.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Услуги переводчиков</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/9.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Техническое сопровождение</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/10.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Организация питания</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/11.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Визовая поддержка</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/12.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Аренда площадки</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/13.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Предоставление оборудования</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/14.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Культурная программа</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/15.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Подготовка отчётности</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/16.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Организация видеотрансляций</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/17.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Создание корпоративного стиля (Брендбук)</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/18.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Технический секретариат/HelpDesk</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/19.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Создание и продвижение сайта мероприятия</figcaption>
      </figure>

      <figure class="tile__item catalog-services__item">
         <img src="dist/assets/img/catalog-services/20.jpg" alt="" class="catalog-services__view">
         <figcaption class="catalog-services__caption">Фото и видеосъемка</figcaption>
      </figure>

   </div>

</section>