<section class="comments ceo">

   <div class="comments__box">

      <figure class="comments__figure ceo">
         <img src="dist/assets/img/comments/ceo.png" alt="" class="comments__view">
      </figure>

      <div class="comments__person ceo">
         <div class="comments__content ceo icon_left-quote">
            <p>За многие годы работы в научной среде, с багажом в сотни проведенных мероприятий, мы видим и понимаем огромную важность проведения конгрессных мероприятий, особенно – международных. Живой обмен знаниями, дискуссии, встречи старых друзей. Именно здесь завязываются новые знакомства, формируются научные коллективы и решаются важнейшие задачи.</p>
            <p>Но организация подобных мероприятий – огромнейшая нагрузка на оргкомитет, которому приходится ради решения бытовых и организационных вопросов жертвовать основной своей работой или трудиться на два фронта на пределе возможностей. Это сильно изматывает и негативно сказывается на результатах основной работы.</p>
            <p>Будучи сотрудниками научно-исследовательских и образовательных учреждений, мы всегда ставили своей целью максимально оградить оргкомитет от решения непрофильных организационных задач и сделать проводимые мероприятия комфортными и запоминающимися для участников.</p>
            <p>Теперь весь наш опыт, знания, возможности и искреннюю любовь к конгрессной деятельности мы готовы направить на то, чтобы взять на себя всю организационную работу и сделать ваше мероприятие насыщенным и запоминающимся!</p>
         </div>
         <figure class="comments__figure comments__figure_mobile">
            <img src="dist/assets/img/comments/ceo.png" alt="" class="comments__view">
         </figure>
         <div class="comments__person_info ceo">
            <p class="comments__person_info_bold">Максим Чуяшкин</p>
            <p class="comments__person_info_text">старший партнер</p>
         </div>
      </div>



   </div>

</section>