<section class="comments">

   <div class="comments__box">

      <div class="comments__person">
         <div class="comments__content icon_left-quote">За время сотрудничества компания МЕСОЛ зарекомендовала себя как добросовестный, ответственный и надежный партнер...</div>
         <figure class="comments__figure comments__figure_mobile">
            <img src="dist/assets/img/comments/1.jpg" alt="" class="comments__view">
         </figure>
         <div class="comments__person_info">Президент РАПН, профессор МГИМО МИД России, доктор политических наук О. В. Гаман-Голутвина</div>
      </div>

      <figure class="comments__figure">
         <img src="dist/assets/img/comments/1.jpg" alt="" class="comments__view">
      </figure>

   </div>

</section>