<section class="gov">

   <div class="gov__wrapper">

      <h3 class="gov__headline">
         <span class="gov__headline_wrapper">Большой опыт работы с Государственными заказчиками</span>
      </h3>

      <div class="gov__list">

         <div class="gov__list_item">
            <figure class="gov__figure">
               <img src="dist/assets/img/gov/courthouse.svg" alt="" class="gov__view">
               <figcaption class="gov__caption">Опыт работы по 44-ФЗ и 223-ФЗ</figcaption>
            </figure>
            <div class="gov__desc">Обладая большим опытом работы с госзаказчиками, обеспечивается максмимально эффективная работа в рамках 44-ФЗ и 223-ФЗ. Тщательная подготовка заявок, проведение обеспечительных платежей, полная и своевременная отчетность.</div>
         </div>

         <div class="gov__list_item">
            <figure class="gov__figure">
               <img src="dist/assets/img/gov/premoney.svg" alt="" class="gov__view">
               <figcaption class="gov__caption">Работа без предоплаты</figcaption>
            </figure>
            <div class="gov__desc">При работе с государственным заказчиком через гос.закупки, не только не настаиваем на необходимости предоплаты, но и изначально не рекомендуем обозначать её в конкурсной документации.</div>
         </div>

         <div class="gov__list_item">
            <figure class="gov__figure">
               <img src="dist/assets/img/gov/identity-card-with-clip.svg" alt="" class="gov__view">
               <figcaption class="gov__caption">Аккредитация на электронных торговых площадках</figcaption>
            </figure>
            <div class="gov__desc">Четкое соблюдение условий договора и сроков по разработанному план-графику действий, необходимых для качественного проведения мероприятия.</div>
         </div>

      </div>

      <div class="gov__bg_kremlin icon_kremlin"></div>
      <div class="gov__bg_handshake icon_handshake"></div>

   </div>

</section>