<section class="partners">

   <div class="partners__wrapper">

      <h3 class="partners__headline">
         <span class="partners__headline_wrapper">Наши партнеры</span>
      </h3>

      <div class="partners__box">

         <figure class="partners__item">
            <img class="partners__view" src="dist/assets/img/partners/1.jpg" alt="">
         </figure>

         <figure class="partners__item">
            <img class="partners__view" src="dist/assets/img/partners/2.jpg" alt="">
         </figure>

         <figure class="partners__item">
            <img class="partners__view" src="dist/assets/img/partners/3.jpg" alt="">
         </figure>

         <figure class="partners__item">
            <img class="partners__view" src="dist/assets/img/partners/4.jpg" alt="">
         </figure>

         <figure class="partners__item">
            <img class="partners__view" src="dist/assets/img/partners/5.jpg" alt="">
         </figure>

         <figure class="partners__item">
            <img class="partners__view" src="dist/assets/img/partners/6.jpg" alt="">
         </figure>

         <figure class="partners__item">
            <img class="partners__view" src="dist/assets/img/partners/3.jpg" alt="">
         </figure>

      </div>

   </div>

   <div class="partners__bg icon_briefcase"></div>

</section>