<section class="scheme">

   <h3 class="scheme__headline">
      <span class="scheme__headline_wrapper icon_scheme">Схема сотрудничества</span>
   </h3>

   <div class="tile scheme__tile">

      <div class="tile__item scheme__tile_item">
         <figure class="scheme__figure">
            <img src="dist/assets/img/scheme/1.jpg" alt="" class="scheme__view">
         </figure>
         <div class="scheme__step">Шаг 1</div>
         <div class="scheme__arrow"></div>
         <p class="scheme__desc">
            <strong class="scheme__desc_strong">Вы оставляете заявку на этом сайте или звоните нам.</strong>
         </p>
         <div class="button__wrapper scheme__button__wrapper">
            <a href="#request" data-feedback class="button button_order scheme__button">
               <span class="button_order__inner icon_plus">Оставить заявку</span>
            </a>
         </div>
      </div>

      <div class="tile__item scheme__tile_item">
         <figure class="scheme__figure">
            <img src="dist/assets/img/scheme/2.jpg" alt="" class="scheme__view">
         </figure>
         <div class="scheme__step">Шаг 2</div>
         <div class="scheme__arrow"></div>
         <p class="scheme__desc">Наш эксперт проводит бесплатную встречу с заказчиком.</p>
      </div>

      <div class="tile__item scheme__tile_item">
         <figure class="scheme__figure">
            <img src="dist/assets/img/scheme/3.jpg" alt="" class="scheme__view">
         </figure>
         <div class="scheme__step">Шаг 3</div>
         <div class="scheme__arrow"></div>
         <p class="scheme__desc">Заключаем договор, оговариваем формат и сроки работ, смету мероприятия, схему оплаты и другие вопросы.</p>
      </div>

      <div class="tile__item scheme__tile_item">
         <figure class="scheme__figure">
            <img src="dist/assets/img/scheme/4.jpg" alt="" class="scheme__view">
         </figure>
         <div class="scheme__step">Шаг 4</div>
         <div class="scheme__arrow"></div>
         <p class="scheme__desc">Предоставляем вам план-график действий и предложения по площадкам и поставщикам услуг.</p>
      </div>

      <div class="tile__item scheme__tile_item">
         <figure class="scheme__figure">
            <img src="dist/assets/img/scheme/5.jpg" alt="" class="scheme__view">
         </figure>
         <div class="scheme__step">Шаг 5</div>
         <div class="scheme__arrow"></div>
         <p class="scheme__desc">Организуем ваше мероприятие "под ключ" или оказываем выбранные вами услуги.</p>
      </div>

      <div class="tile__item scheme__tile_item">
         <figure class="scheme__figure">
            <img src="dist/assets/img/scheme/6.jpg" alt="" class="scheme__view">
         </figure>
         <div class="scheme__step">Шаг 6</div>
         <div class="scheme__arrow"></div>
         <p class="scheme__desc">Добиваемся лучших условий от поставщиков и контролируем качество их работы.</p>
      </div>

      <div class="tile__item scheme__tile_item">
         <figure class="scheme__figure">
            <img src="dist/assets/img/scheme/7.jpg" alt="" class="scheme__view">
         </figure>
         <div class="scheme__step">Шаг 7</div>
         <div class="scheme__arrow"></div>
         <p class="scheme__desc">Оказываем полный спектр услуг на площадке в дни мероприятия.</p>
      </div>

      <div class="tile__item scheme__tile_item">
         <figure class="scheme__figure">
            <img src="dist/assets/img/scheme/8.jpg" alt="" class="scheme__view">
         </figure>
         <div class="scheme__step">Шаг 8</div>
         <div class="scheme__arrow"></div> <!--если запарно, можешь вывести, в стилях предусмотрено, иначе - в последнем шаге её быть не должно -->
         <p class="scheme__desc">Всесторонне помогаем в подготовке отчетности.</p>
      </div>

   </div>

</section>