<section class="services">

   <h2 class="services__headline icon_conference">Комплексный подход к организации<br> и проведению мероприятия</h2>

   <div class="services__box">

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/1.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Работа с площадкой и логистика</div>
         <p class="services__desc">Выбор площадки и поставщиков услуг, оформление приглашений для ваших гостей, визовая поддержка,транспорт и размещение.</p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/2.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">VIP-обслуживание</div>
         <p class="services__desc">Специальные условия для VIP-гостей - трансфер, гид, переводчик и многое другое.</p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/3.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Специальные условия для VIP-гостей - трансфер, гид, переводчик и многое другое.</div>
         <p class="services__desc">Открытие регистрации с предоставлением вам полного доступа к информации о зарегистрировавшихся участниках. На месте - выдача бэйджей, наборов участника и т.п.</p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/4.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Финансовый менеджмент</div>
         <p class="services__desc">Сбор организационных взносов (при необходимости) с подготовкой финансовой документации.</p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/5.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">PR в сети</div>
         <p class="services__desc">Создание сайта и электронного календаря вашего мероприятия с онлайн доступом для участников.</p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/6.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Маркетинг</div>
         <p class="services__desc">Создание и тиражирование макетов программы, раздаточных материалов, набора участника.</p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/7.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Кейтеринг</div>
         <p class="services__desc">Организация и контроль проведения кофе-брейков, обедов, фуршетов и банкетов.</p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/8.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Переводы</div>
         <p class="services__desc">Перевод письменный и устный, в том числе и синхронный.</p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/9.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Предоставление оборудования</div>
         <p class="services__desc">Предоставление и техническое сопровождение любого необходимого для проведения мероприятия оборудования.</p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/10.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Культурная программа</div>
         <p class="services__desc">Комплексная организация экскурсионного обслуживания.</p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/11.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Подготовка отчётности</div>
         <p class="services__desc">Закрытие финансовых документов, командировочных удостоверений и многое другое.</p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/12.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Реклама</div>
         <p class="services__desc">Привлечение внимания аудитории в СМИ и интернете к вашему мероприятию.</p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/13.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Определение формата мероприятия</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/14.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Определение места проведения мероприятия</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/15.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Планирование бюджета</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/16.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Подбор площадки</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/17.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Определение необходимого набора услуг</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/18.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Разработка корпоративного стиля мероприятия </div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/19.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Разработка и наполнение сайта мероприятия</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/20.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Онлайн регистрация участников</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/21.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Технический секретариат</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/22.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Аренда оборудования</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/23.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Макетирование информационно-раздаточных материалов</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/24.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Транспортное обслуживание</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/25.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Оформление площадки</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/26.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Привлечение технического персонала</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/27.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Регистрация участников на месте, выдача бейджей, оформление документации</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/28.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Техническое сопровождение, навигация, тайминг на площадке</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/29.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Организация питания</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/30.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Экскурсионное обслуживание</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/31.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Культурная программа</div>
         <p class="services__desc"></p>
      </div>

      <div class="services__item">
         <figure class="services__item_bg">
            <img src="dist/assets/img/services/32.jpg" alt="" class="services__view">
         </figure>
         <div class="services__caption icon_logo-small">Подготовка отчетной и закрывающей документации</div>
         <p class="services__desc"></p>
      </div>

   </div>

</section>