<section class="sert">

   <h3 class="sert__headline">
      <span class="sert__headline_wrapper icon_megaphone">Нас рекомендуют</span>
   </h3>

   <div class="tile sert__tile">

      <div class="tile__item sert__tile_item">
         <a data-fancybox="sert" href="dist/assets/img/sert/sert-preview.png" class="sert__figure">
            <img src="dist/assets/img/sert/sert-preview.png" alt="" class="sert__view">
         </a>
         <figure class="sert__logo">
            <img src="dist/assets/img/sert/sert-logo.png" alt="" class="sert__logo_view">
         </figure>
      </div>

      <div class="tile__item sert__tile_item">
         <a data-fancybox="sert" href="dist/assets/img/sert/sert-preview.png" class="sert__figure">
            <img src="dist/assets/img/sert/sert-preview.png" alt="" class="sert__view">
         </a>
         <figure class="sert__logo">
            <img src="dist/assets/img/sert/sert-logo.png" alt="" class="sert__logo_view">
         </figure>
      </div>

      <div class="tile__item sert__tile_item">
         <a data-fancybox="sert" href="dist/assets/img/sert/sert-preview.png" class="sert__figure">
            <img src="dist/assets/img/sert/sert-preview.png" alt="" class="sert__view">
         </a>
         <figure class="sert__logo">
            <img src="dist/assets/img/sert/sert-logo.png" alt="" class="sert__logo_view">
         </figure>
      </div>

   </div>

</section>