<!DOCTYPE html>

<html>
<head>
   <meta http-equiv="content-type" charset="utf-8">
   {% if metaTitle %}<title>{{ metaTitle }}</title> {% else %} <title>Default Title</title> {% endif %}
   <meta property="og:url" content="">
   <meta property="og:title" content="">
   <meta property="og:description" content="">
   <meta property="og:type" content="website">
   <meta property="og:image" content="">
   <meta name="twitter:card" content="summary">
   <meta name="twitter:site" content="@">
   <meta name="twitter:title" content="">
   <meta name="twitter:description" content="">
   <meta name="twitter:image" content="">
   <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/vnd.microsoft.icon" href="dist/assets/img/favicon.ico">
   <link rel="stylesheet" href="./dist/css/styles.css?ver=0">
   <script>let themeData = {"url":"http:\/\/mesol.local\/wp-content\/themes\/mesol","marker":{"address":"119034, \u0433. \u041c\u043e\u0441\u043a\u0432\u0430, \u0443\u043b. \u0413\u043e\u0440\u043e\u0434\u0435\u0446\u043a\u0430\u044f 8\/7\u0431, \u043e\u0444. 12","lat":"55.7396933","lng":"37.86669389999997"}};</script>
   {% if clusterMarker %}
   <script src="./dist/js/markerclusterer.js"></script>
   {% endif %}
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKjgJoyoWIHandAiojy9P1Otn7NPAAQVY"></script>
   <script src="./dist/js/core.js?ver=0"></script>
</head>
<body class="{{ body_class }}">
   <div id="page">

      {% block header%}{%endblock%}
      {% block fscreen %}{% endblock %}
      <!--inner start-->
      <main class="content {{ content_class }}">

         {% block content %}{% endblock %}

      </main>
      <!--inner end-->

      <div class="overlay js__overlay">

      </div>
      <div class="leads">

         <div id="request" class="form__wrapper">

            <div class="form__content">

               <div class="form__about">
                  <h3 class="form__caption">Оставьте ваши контактные данные</h3>
                  <div class="form__caption_desc">мы свяжется с вами для уточнения деталей обращения и бесплатной консультации.</div>
               </div>

               <form class="form js__form-feedback">

                  <div class="form__fieldset">

                     <label class="form__label">
                        <input autocomplete="false" class="form__field req" type="text" name="name" placeholder="Ваше имя*">
                        <label class="error__message">Забыли указать имя</label>
                     </label>

                     <label class="form__label">
                        <input autocomplete="false" data-type="email" class="form__field req" type="text" name="email" placeholder="Ваш email*">
                        <label class="error__message">example@mail.com</label>
                     </label>

                     <label class="form__label">
                        <input autocomplete="false" data-type="decimal" class="form__field req" type="tel" name="phone" placeholder="Номер телефона*">
                        <label class="error__message">+7 888 888 88 88(88)</label>
                     </label>

                  </div>

                  <div class="button__wrapper form__button_wrapper">
                     <button class="button button_request js__form-send"><span class="button_request__inner icon_double-arrow">Отправить</span></button>
                  </div>


               </form>

            </div>

         </div>

         <div id="thx-message" class="form-thx">

            <h4 class="form-thx__headline">Спасибо за заявку!</h4>
            <div class="form-thx__desc">Наш менеджер свяжется с вами ближайшее время.</div>

         </div>


      </div>
   </div>

</body>
</html>