{% extends 'layouts/_header.html'%}

{% block fscreen %}
   <section class="fscreen">

      <!-- те же контактные данные, что и в шапке -->
      <div class="fscreen-mobile__contacts">
         <p class="fscreen-mobile__contacts_text">
            Телефон:
            <a href="tel:+74959436060" class="fscreen-mobile__contacts_link">+7 (495) 943-60-60</a>
         </p>
         <p class="fscreen-mobile__contacts_text">
            E-mail:
            <a href="mailto:info@mesol.ru" class="fscreen-mobile__contacts_link">info@mesol.ru</a>
         </p>
      </div>
      <!-- end contacts -->

      <div class="fscreen__block fscreen__block_2h fscreen__block_2w">

         <div class="fscreen__item fscreen__item_w2">

            <div class="fscreen__item fscreen__item_h2">
               <figure class="fscreen__figure mask_blue">
                  <img class="fscreen__view" src="dist/assets/img/main/main-bg1.jpg" alt="">
               </figure>
               <div class="fscreen__desc">
                  <div class="fscreen__desc_view icon_chat"></div>
                  <div class="fscreen__desc_caption">Семинары</div>
               </div>
            </div>

            <div class="fscreen__item fscreen__item_h2">
               <figure class="fscreen__figure mask_dark">
                  <img class="fscreen__view" src="dist/assets/img/main/main-bg4.jpg" alt="">
               </figure>
               <div class="fscreen__desc">
                  <div class="fscreen__desc_view icon_conference"></div>
                  <div class="fscreen__desc_caption">Конференции</div>
               </div>
            </div>

         </div>

         <div class="fscreen__item fscreen__item_w2 fscreen__item_align-start">

            <figure class="fscreen__figure mask_black-and-white">
               <img class="fscreen__view mask_black-and-white" src="dist/assets/img/main/main-bg2.jpg" alt="">
            </figure>

            <div class="fscreen__item fscreen__item_h2">
               <div class="fscreen__desc">
                  <div class="fscreen__desc_view icon_congress"></div>
                  <div class="fscreen__desc_caption">Конгрессы</div>
               </div>
            </div>

         </div>

      </div>

      <div class="fscreen__block fscreen__block_2h fscreen__block_2w">

         <div class="fscreen__item fscreen__item_h2 fscreen__item_justify-end mask_blue">

            <figure class="fscreen__figure">
               <img class="fscreen__view fscreen__view_portrait mask_black-and-white" src="dist/assets/img/main/main-bg3.jpg" alt="">
            </figure>

            <!-- если видео добавили то вставлять его здесь -->
            <!-- для видеофайлов нужно выводить пути видео объекта в переменную links ( подробнее в external-init.js ) -->
            <div class="fscreen__video_item"></div>

            <!-- сами видео и ссылка на него могут отличаться -->
            <div class="fscreen__item fscreen__item_w2">
               <a href="dist/assets/video/video.mp4" data-fancybox="" class="fscreen__video_link">
                  <span class="fscreen__video_link_item"></span>
               </a>
            </div>
            <!--end video -->

            <div class="fscreen__item fscreen__item_w2">
               <div class="fscreen__desc">
                  <div class="fscreen__desc_view icon_presentation"></div>
                  <div class="fscreen__desc_caption">Презентации</div>
               </div>
            </div>

         </div>

         <div class="fscreen__item fscreen__item_h2 fscreen__item_bg-headline fscreen__item_headline">

            {{ data.fscreenCaption | safe }}
            <!--<h1 class="fscreen__headline">Организация и проведение научных и деловых мероприятий</h1>
            <p class="fscreen__headline_desc">на всей территории России и за рубежом</p>-->

         </div>

      </div>

      <div class="fscreen__block fscreen__block_4w">

         <div class="fscreen__item fscreen__item_w4 fscreen__item_bg-black fscreen__item_justify-end">
            <img class="fscreen__item_view" src="dist/assets/img/common/fibo.svg" alt="">
         </div>

         <div class="fscreen__item fscreen__item_w4 fscreen__item_bg-black fscreen__item_lead">
            <a href="#request" data-feedback class="button button_order">
               <span class="button_order__inner icon_plus">Оставить заявку</span>
            </a>
         </div>

         <div class="fscreen__item fscreen__item_w4 fscreen__item_bg-azure">
            <div class="fscreen__desc">
               <div class="fscreen__desc_view icon_simpozium fscreen__desc_color--black"></div>
               <div class="fscreen__desc_caption fscreen__desc_color--black">Симпозиумы</div>
            </div>
         </div>

         <div class="fscreen__item fscreen__item_w4 fscreen__item_bg-black">
            <div class="fscreen__desc">
               <div class="fscreen__desc_view icon_satellite"></div>
               <div class="fscreen__desc_caption">Выставки</div>
            </div>
         </div>

      </div>
   </section>

   <section class="fscreen-mobile">

      <!-- отображаем этот блок, только если установлено видео -->
      <div class="fscreen-mobile__video">
         <a class="fscreen-mobile__video_link" href="dist/assets/video/video.mp4" data-fancybox>
            <span class="fscreen-mobile__video_text">посмотреть видео</span>
         </a>
      </div>
      <!-- end video -->

      <div class="fscreen-mobile__block">

         <!-- фоновые картинки закидываем inline размер 212х212-->
         <div class="fscreen-mobile__item fscreen-mobile__item_bg-black">
            <div class="fscreen-mobile__figure">
               <div class="fscreen-mobile__view icon_satellite"></div>
               <div class="fscreen-mobile__caption">Выставки</div>
            </div>
         </div>

         <div class="fscreen-mobile__item">
            <div class="fscreen-mobile__figure">
               <div class="fscreen-mobile__view fscreen-mobile__view_color--black icon_simpozium"></div>
               <div class="fscreen-mobile__caption fscreen-mobile__caption_color--black">Симпозиумы</div>
            </div>
         </div>

         <div class="fscreen-mobile__item mask_black-and-white mask_dark" style="background-image: url('dist/assets/img/main/main-bg2.jpg');">
            <div class="fscreen-mobile__figure">
               <div class="fscreen-mobile__view icon_congress"></div>
               <div class="fscreen-mobile__caption">Конгрессы</div>
            </div>
         </div>

         <div class="fscreen-mobile__item mask_blue" style="background-image: url('dist/assets/img/main/main-bg1.jpg');">
            <div class="fscreen-mobile__figure">
               <div class="fscreen-mobile__view icon_conference"></div>
               <div class="fscreen-mobile__caption">Конференции</div>
            </div>
         </div>

         <div class="fscreen-mobile__item mask_dark" style="background-image: url('dist/assets/img/main/main-bg3.jpg');">
            <div class="fscreen-mobile__figure">
               <div class="fscreen-mobile__view icon_chat"></div>
               <div class="fscreen-mobile__caption">Семинары</div>
            </div>
         </div>

         <div class="fscreen-mobile__item">
            <div class="fscreen-mobile__figure">
               <div class="fscreen-mobile__view icon_presentation"></div>
               <div class="fscreen-mobile__caption">Презентации</div>
            </div>
         </div>

      </div>

      <div class="fscreen-mobile__lead fscreen__item_bg-black fscreen__item_lead">
         <div class="button__wrapper">
            <a href="#request" data-feedback="" class="button button_order">
               <span class="button_order__inner icon_plus">Оставить заявку</span>
            </a>
         </div>
      </div>
   </section>
{% endblock%}