{% extends 'layouts/_base.html' %}

{% block header %}
   <header class="header">

      <div class="header__nav">

         <a class="header__logo" href="index.html">
            <img class="header__logo-view" src="dist/assets/img/logo-2.svg"/>
         </a>

         <div class="nav__mobile-toggle js__mobile-toggle">
            <div class="nav__mobile-toggle_icon"></div>
         </div>

         <nav class="nav__wrapper">

            <ul class="nav">
               <li class="nav__item nav__item_mobile"><a class="nav__item-link nav__item-link--mobile-only" href="index.html">Главная</a></li>
               <li class="nav__item current-menu-item"><a class="nav__item-link" href="about.html">О компании</a></li>
               <li class="nav__item"><a class="nav__item-link" href="catalog.html">Организация мероприятий</a></li>
               <li class="nav__item"><a class="nav__item-link" href="services.html">Услуги</a></li>
               <li class="nav__item"><a class="nav__item-link" href="cases.html">Портфолио</a></li>
               <li class="nav__item"><a class="nav__item-link" href="map.html">Карта</a></li>
               <li class="nav__item"><a class="nav__item-link" href="contacts.html">Контакты</a></li>
            </ul>

            <div class="lang__list">
               <a class="lang__link active" href="#">Ru</a>
               <a class="lang__link" href="#">Eng</a>
            </div>

         </nav>

      </div>

      <div class="header-contacts">
         <p class="header-contacts__text">Телефон: +7 (495) 943-60-60</p>
         <p class="header-contacts__text">
            E-mail:
            <a href="mailto:info@mesol.ru" class="header-contacts__link">info@mesol.ru</a>
         </p>
         <div class="button__header_wrapper header-contacts__button">
            <a href="#request" data-feedback class="button__header">Заказать обратный звонок</a>
         </div>
      </div>

   </header> <!--end header-->
{% endblock %}