.header{
    width: 100%;
    padding: 0 20px;
    background: white;
    height: $headerheight-mobile;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);

    @include res(desktop){
        padding: 0 30px;
        height: $headerheight;
    }

    @include res(laptop){
        padding: 0 50px;
    }

    &__logo{
        max-width: 210px;
        min-width: 210px;
        transform: translateZ(0);
        position: relative;
        z-index: 3;

        @include res(desktop){
            max-width: 220px;
            min-width: 220px;
            margin-right: 50px;
        }

        &-view{
            max-width: 100%;
            vertical-align: middle;
        }
    }

    &__nav{
        display: flex;
        align-items: center;
        justify-content: center;

        @include res(laptop){
            position: relative;
        }
    }

    &__social{
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        @include res(desktop){
            display: none;
        }

        &-link{
            margin-right: 30px;
            width: 21px;
            height: 21px;
            color: white;
            opacity: 0.7;
            text-decoration: none;
            font-size: 22px;

            &:last-of-type{
                margin-right: 0;
            }
        }

    }


    &__external{
        display: none;

        @include res(desktop){
            height: 58px;
            display: flex;
            width: 177px;
        }

        &-link{
            min-width: 50%;
            max-width: 50%;
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0.7;
            border: 1px solid $azure;
            color: $azure;
            text-decoration: none;
            font-size: 14px;
            line-height: 1.14;
            text-transform: uppercase;
            transition: opacity .3s;

            &:hover{

                @include res(desktop){
                    opacity: 1;
                }
            }

            span{
                font-size: 9px;
                line-height: 1.78;
            }

        }

        &--mobile{
            display: flex;
            height: 58px;

            @include res(desktop){
                display: none;
            }
        }
    }

    &__action{

        &-box{
            margin-right: 40px;
            display: flex;
            align-items: center;
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition: opacity .3s, transform .3s;

            @include res(desktop){
                margin-right: 0;

                &.hidden{
                    transform: translate3d(0, -15px, 0);
                    opacity: 0;
                }
            }
        }
    }


}