.header-contacts{

    display: none;

    @include res(tablet){
        display: block;
        padding-right: 60px;
    }

    @include res(laptop){
        padding-right: 0;
    }

    &__text{
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: right;
        color: $black;
        display: flex;
        justify-content: flex-end;
    }

    &__link{
        text-decoration: none;
        position: relative;
        color: $black;
        padding-left: 5px;

        &:after{
            content: '';
            display: block;
            width: 0;
            height: 4px;
            background: $azure;
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            bottom: 2px;
            margin: auto;
            transition: width .3s;

        }

        &:hover{

            &:after{
                width: 100%;
            }
        }
    }

    &__button{
        display: none;

        @include res(desktop){
            display: block;
        }
    }
}