.lang{

    &__list{
        display: flex;
        border-left: 1px solid #f3ebeb;
        justify-content: center;
        position: relative;
        padding-top: 12px;

        &:before{
            content: '';
            width: 69px;
            height: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            opacity: 0.7;
            border-style: solid;
            border-width: 1px;
            border-image-source: linear-gradient(to left, #3bb9eb, #585ae6);
            border-image-slice: 1;
        }

        @include res(tablet){
            margin-top: 20px;
        }

        @include res(laptop){
            padding: 0 0 0 18px;
            margin-top: 0;
            justify-content: flex-start;

            &:before{
                display: none;
            }
        }
    }

    &__link{
        padding: 6px;
        font-size: 14px;
        line-height: 18px;
        min-height: 18px;
        text-decoration: none;
        color: $black-two;
        white-space: nowrap;
        transition: color .3s;
        display: block;
        position: relative;
        text-transform: uppercase;

        &:after{
            content: '';
            display: block;
            width: 0;
            height: 4px;
            background: $azure;
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            bottom: 6px;
            margin: auto;
            transition: width .3s;
        }

        @include res(desktop){
            margin-left: 7px;

            &:hover{

                &:after{
                    width: 100%;
                }
            }
        }

        &.active:after{
            width: 100%;
        }
    }
}