%burger-stick {
    width: 100%;
    height: 2px;
    background: $azure;
}

.nav {
    position: relative;
    z-index: 2;
    margin: 30px 0;
    overflow: auto;
    max-height: 100%;

    @include res(laptop) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 25px 0 0;
        overflow: visible;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $azure url("../assets/img/common/nav-mobile-bg.jpg");
        background-size: cover;
        margin: 0;
        max-width: 100%;
        padding: 70px 38px 35px;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        z-index: 2;
        transition: right 0.3s;

        &.dropped {
            right: 0;
        }

        @include res(tablet) {
            justify-content: flex-start;
            max-width: 375px;
        }

        @include res(laptop) {
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            background: transparent;
            position: static;
            width: auto;
            max-width: 100%;
            height: auto;
            padding: 0;
            transition: opacity .3s, transform .3s;
            transform: translate3d(0, 0, 0);
        }

        &.hidden {

            @include res(laptop) {
                transform: translate3d(0, -15px, 0);
                opacity: 0;
            }

        }
    }

    &__item {
        height: 44px;
        line-height: 44px;
        width: 100%;

        @include res(laptop) {
            margin-left: 7px;
            height: auto;
            line-height: 1;
            width: auto;
        }

        &.current-menu-item &-link {
            color: $azure;

            @include res(laptop) {
                color: $black-two;

                &:after {
                    width: 100%;
                }
            }
        }

        &_mobile {

            @include res(laptop) {
                display: none;
            }
        }

        &-link {
            font-size: 14px;
            color: $black-two;
            text-decoration: none;
            white-space: nowrap;
            transition: color .3s;
            display: block;
            position: relative;
            text-align: center;

            &:hover {
                color: $azure;

                @include res(laptop){
                    color: $black;

                    &:after {
                        width: 100%;
                    }
                }
            }

            @include res(laptop) {
                padding: 6px;
                font-size: 14px;
                line-height: 18px;
                text-align: left;

                &:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 4px;
                    background: $azure;
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    right: 0;
                    bottom: 6px;
                    margin: auto;
                    transition: width .3s;

                }

            }
        }
    }

    &__mobile {

        &-toggle {
            width: 20px;
            height: 14px;
            position: absolute;
            right: 25px;
            z-index: 3;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;

            @include res(laptop) {
                display: none;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                @extend %burger-stick;
                transform-origin: 5px 0;
                transition: all 0.4s;
            }

            &.dropped:before {
                transform: rotate(43deg);
                width: 110%;
                border-radius: 4px;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                @extend %burger-stick;
                transform-origin: -1px 0;
                transition: all 0.4s;
            }

            @include res(laptop) {

                &:hover:before, &:hover:after, &:hover &_icon {

                }
            }

            &.dropped:after {
                transform: rotate(-43deg);
                width: 110%;
                border-radius: 4px;
            }

            &_icon {
                @extend %burger-stick;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                transition: all 0.4s;

                .dropped & {
                    width: 0;
                    opacity: 0;
                    transition: all 0.15s;
                }
            }
        }

    }
}