@font-face {
    font-family: 'Century Gothic';
    src: url('../assets/fonts/hinted-subset-CenturyGothic-Bold.eot');
    src: url('../assets/fonts/hinted-subset-CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/hinted-subset-CenturyGothic-Bold.woff2') format('woff2'),
    url('../assets/fonts/hinted-subset-CenturyGothic-Bold.woff') format('woff'),
    url('../assets/fonts/hinted-subset-CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../assets/fonts/hinted-subset-CenturyGothic.eot');
    src: url('../assets/fonts/hinted-subset-CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/hinted-subset-CenturyGothic.woff2') format('woff2'),
    url('../assets/fonts/hinted-subset-CenturyGothic.woff') format('woff'),
    url('../assets/fonts/hinted-subset-CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/icomoon.eot?s27h42');
    src:  url('../assets/fonts/icomoon.eot?s27h42#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?s27h42') format('truetype'),
    url('../assets/fonts/icomoon.woff?s27h42') format('woff'),
    url('../assets/fonts/icomoon.svg?s27h42#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
