//default
html{
    height: 100%;
}

html, body, #page{

    @include res(desktop){
        height: 100%;
    }
}

body.full-height{

    @include res(tablet){
        height: 100%;
    }
}

.full-height #page{

    @include res(tablet){
        height: 100%;
        overflow: hidden;
    }
}

body {
    font-family: 'Century Gothic', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased !important;
    box-sizing: border-box;
    overflow-x: hidden;
    padding-top: $headerheight-mobile;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;

    @include res(desktop){
        padding-top: $headerheight;
    }

    &.blocked{
        overflow: hidden;
    }

}
