// Colors

$white: #dfdfdf;
$gray: #F3F3F3;
$grey-light: #f5f5f2;
$grey: #9b9b9b;
$grey-dark: #353535;
$grey-light: #f5f5f5;
$black: #121212;
$black-two: #333333;
$azure: #16b0fd;
$azure-mask: rgba(81, 196, 254, 0.75);
$azure-border: rgba(81, 196, 254, 0.1);
$pink: #fcf6ee;

// Extends

$headerheight: 95px;
$headerheight-mobile: 80px;

%container-content {
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;

    @include res(tablet){
        padding: 0 30px;
    }

    @include res(desktop){
        max-width: 1440px;
        padding: 0 50px;
    }
}

%view-cover{
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
}


